html, body {
  background-color: #fff;
}
* {
  white-space: normal !important;
  word-break: break-all;
  word-wrap: break-word;
}
span {
  display: inline !important;
}
.container {
  padding: 12px;
}
