html, body {
  background-color: #efefef;
}
.title {
  height: 120px;
  background-color: #1e294b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 40px 40px 40px 30px;
}


.sec {
  margin: 14px;
  border-radius: 5px;
  background: #fff;
  padding: 0 13px;
}
.sec_header {
  padding-top: 16px;
  padding-bottom: 12px;
  line-height: 1;
  & .tit {
    color: #333;
    font-weight: bold;
  }
}
.sec_list {
  border-top: 1px solid #f3f3f3;
  padding-top: 10px;
  padding-bottom: 10px;
  & li {
    font-size: 15px;
    color: #999;
    display: flex;
    align-items: flex-start;
    margin: 2px 0;
    & strong {
      flex-shrink: 0;
      font-weight: normal;
    }
    & span {
      flex-grow: 1;
      width: 100%;
      word-wrap: break-word;
      word-break: break-all;
      white-space:normal;
    }
  }
}
.sec_body {
  border-top: 1px solid #f3f3f3;
  & .row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    & strong {
      font-size: 22px;
      display: block;
      line-height: 1;
    }
    & span {
      font-size: 15px;
      display: block;
      line-height: 1;
      color: #999;
    }
  }
  & .row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
    & .txt {
      font-size: 15px;
      display: block;
      line-height: 1;
      color: #999;
    }
    & .btn {
      width: 80px;
      height: 34px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: #1dc4a2;
    }
  }
}

.btn-box {
  padding: 50px 20px 30px 20px;
}
