html, body {
  background-color: #efefef;
}
.title {
  text-align: center;
  padding-top: 20px;
  color: #333;
  font-size: 15px;
}
ul {
  padding: 0 15px;
  margin: 0;
  padding-bottom: 20px;
}
li {
  margin-top: 15px;
  border-radius: 3px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
.col1 {
  flex-grow: 1;
}
.col2 {
  width: 130px;
  flex-shrink: 0;
  text-align: center;
  & .otw {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
}
.col3 {
  width: 80px;
  flex-shrink: 0;
}
.btn {
  background: #1dc4a2;
  color: #fff;
  height: 30px;
  border: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 4px;
  line-height: 1;
  font-size: 14px;
  &.active {
    background: #88dbcb;
  }
}
.red {
  color: #ce0016;
}

.header {
  height: 240px;
  background: #1dc4a2;
  margin-bottom: -85px;
  margin-top: -1px;
  background-image: url(../../image/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #e3b256;
  background-position: top center;
}
.nav {
  height: 145px;
  margin: 15px;
  border-radius: 5px;
  background: #fff;
  & .row {
    display: flex;
    align-items: center;
    & .row-item {
      padding-top: 10px;
      width: 33.33%;
      text-align: center;
      font-size: 13px;
      color: #666;
    }
    & img {
      width: 36px;
      height: 36px;
      display: block;
      margin: 0 auto;
      margin-bottom: 2px;
    }
  }
}
.banner {

}
