html, body {
  background-color: #efefef;
}
.title {
  text-align: center;
  padding-top: 20px;
  color: #333;
  font-size: 15px;
}
ul {
  padding: 0 15px;
  margin: 0;
  padding-bottom: 20px;
}
li {
  margin-top: 15px;
  border-radius: 3px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 12px;
  & .l {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    & .col {
      width: 50%;
    }
  }
}

.otw {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.btn {
  flex-shrink: 0;
  background: #1dc4a2;
  color: #fff;
  height: 30px;
  border: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 4px;
  line-height: 1;
  font-size: 14px;
  &.active {
    background: #88dbcb;
  }
}
.red {
  color: #ce0016;
}

.header {
  height: 240px;
  background: #1dc4a2;
  margin-bottom: -85px;
  margin-top: -1px;
  background-image: url(../../image/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #e3b256;
  background-position: top center;
}
.nav {
  height: 145px;
  margin: 15px;
  border-radius: 5px;
  background: #fff;
  & .row {
    display: flex;
    align-items: center;
    & .row-item {
      padding-top: 10px;
      width: 33.33%;
      text-align: center;
      font-size: 13px;
      color: #666;
    }
    & img {
      width: 36px;
      height: 36px;
      display: block;
      margin: 0 auto;
      margin-bottom: 2px;
    }
  }
}
.banner {
  padding: 10px;
  padding-bottom: 15px;
  background-color: #eaf7f9;
  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.high {
  & .tit {
    color: #333;
    font-weight: bold;
    padding: 20px 15px 5px;
  }
  & .body {
    display: flex;
    align-items: center;
    padding: 0 5px;
    & .high_item {
      width: 50%;
      text-align: center;
      background-color: #fff;
      margin: 4px;
      border-radius: 4px;
      padding-bottom: 5px;
      & .row1 {
        padding-top: 10px;
        color: #888;
      }
      & .row2 {
        color: #c20015;
        font-weight: bold;
        font-size: 20px;
      }
      & .row3 {
        color: #888;
        font-size: 14px;
        padding-bottom: 5px;
      }
    }
  }
}

.low {
  & .tit {
    color: #333;
    font-weight: bold;
    padding: 15px 15px 5px;
  }
  & .body {
    padding: 0 10px;
    & .row {
      margin-bottom: 15px;
      background-color: #fff;
      border-radius: 5px;
      padding: 12px;
      display: flex;
      align-items: center;
      & .l {
        width: 100px;
        flex-shrink: 0;
        & strong {
          font-size: 30px;
          color: #c20015;
        }
        & span {
          font-size: 14px;
          color: #888;
        }
      }
      & .r {
        flex-grow: 1;
        & strong {
          font-size: 18px;
          color: #444;
          font-weight: normal;
        }
        & span {
          font-size: 15px;
          color: #888;
        }
      }

    }
  }
}
