/* aui reset */
.aui-radio:checked, .aui-radio.aui-checked, .aui-checkbox:checked, .aui-checkbox.aui-checked {
  background-color: #1dc4a2 !important;
  border: solid 1px #1dc4a2 !important;
}
.aui-switch:checked {
  border-color: #1dc4a2 !important;
  background-color: #1dc4a2 !important;
}
/*1cb594 88dbcb 1aa689 5aae9c*/
/*页面头部*/
.app_header {
  background-color: #1dc4a2;
  position: relative;
}
.app_header div {
    width: 55px;
    height: 44px;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
.app_header div .aui-iconfont {
      color: #fff;
      font-weight: bold;
      font-size: 20px;
    }
.app_header div.active {
      background-color: #88dbcb;
    }
.app_header div:first-child {
    left: 0;
  }
.app_header div:last-child {
    right: 0;
  }
.app_header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 44px;
    padding: 0 44px;
  }
/*块状按钮*/
.app_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #1dc4a2;
  font-weight: bold;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}
.app_btn.sm {
    height: 44px;
    width: 100%;
    border-radius: 44px;
  }
.app_btn.active {
    background-color: #88dbcb;
  }
.app_btn.loading {
    background-color: #88dbcb;
  }
/*输入框组*/
.app_ipt_group {
  padding-top: 20px;
}
.app_ipt_group .item {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #ededed;
  }
.app_ipt_group .item .icon {
      width: 50px;
      height: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
.app_ipt_group .item .icon .aui-iconfont {
        font-size: 22px;
        color: #666;
      }
.app_ipt_group .item .icon .aui-icon-unlock:before {
        position: relative;
        left: 4px;
      }
.app_ipt_group .item .ipt {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 100%;
      position: relative;
      top: 2px;
      margin-right: 30px;
      /*color: #aaa;
      background-color: #eee;*/
    }
.app_ipt_group .item .btn {
      margin-left: 10px;
      padding-right: 4px;
      color: #333;
    }
.app_ipt_group .item .btn.active {
        color: #666;
        padding-right: 3px;
      }
.app_ipt_group .item .btn.loading {
        color: #666;
      }
/*连接按钮*/
.app_link_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #333;
}
.app_link_btn.active {
    color: #666;
    padding-left: 1px;
    padding-right: 0px;
  }
/*文字按钮*/
.app_text_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #1dc4a2;
}
.app_text_btn.active {
    color: #88dbcb;
    padding-left: 1px;
    padding-right: 0px;
  }
.app_agreement {
  text-align: center;
  color: #aaa;
  font-size: 15px;
}
.app_agreement label {
    display: inline;
  }
.app_agreement input {
    top: -2px;
  }
.app_agreement span {
    display: inline;
  }
.app_agreement strong {
    display: inline;
    color: #1dc4a2;
    font-weight: normal;
    padding-left: 0;
    padding-right: 1px;
  }
.app_agreement strong.active {
      padding-left: 1px;
      padding-right: 0;
    }

html, body {
  background-color: #f2f2f2;
}
.top {
  height: 120px;
  background:rgba(102,187,106,1);
  padding-left: 30px;
  color: #fff;
  border-top: 1px solid #88dbcb;
  margin-top: -1px;
}
.top .name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
  }
.top .tel {
    font-size: 16px;
    font-family: PingFangSC-Medium;
    }
.tab_my-main {
  padding: 12px;
}
.tm-main-ul {
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 6px 0 rgba(162,177,163,0.10);
          box-shadow: 0 4px 6px 0 rgba(162,177,163,0.10);
  border-radius: 6px;
  border-radius: 6px;
}
li.active {
  background-color: #ededed;
  position: relative;
  top: -1px;
}
li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 10px;
}
li .icon {
    width: 24px;
    height: 24px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }
li .message {
    background-image: url(../../image/tab_my/message@2x.png);
  }
li .bill {
    background-image: url(../../image/tab_my/bill@2x.png);
  }
li .orders {
    background-image: url(../../image/tab_my/orders@2x.png);
  }
li .limit {
    background-image: url(../../image/tab_my/limit@2x.png);
  }
li .products {
    background-image: url(../../image/tab_my/products@2x.png);
  }
li .contact {
    background-image: url(../../image/tab_my/contact@2x.png);
  }
li .settings {
    background-image: url(../../image/tab_my/settings@2x.png);
  }
li .line-box {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 10px;
    margin-left: 10px;
    height: 54px;
    border-bottom: 1px solid #f5f5f5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
li .line-box .text {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      font-family: PingFang-SC-Medium;
      font-size: 16px;
      color: #303133;
    }
li .line-box .msg {
      margin-right: 5px;
      font-size: 14px;
      color: #aaa;
    }
li .line-box .arrow {
      -ms-flex-negative: 0;
          flex-shrink: 0;
    }
li .line-box .arrow i {
        font-weight: bold;
        color: #9fa3ac;
      }
