/* aui reset */
.aui-radio:checked,
.aui-radio.aui-checked,
.aui-checkbox:checked,
.aui-checkbox.aui-checked {
  background-color: #1dc4a2 !important;
  border: solid 1px #1dc4a2 !important;
}

.aui-switch:checked {
  border-color: #1dc4a2 !important;
  background-color: #1dc4a2 !important;
}

/*1cb594 88dbcb 1aa689 5aae9c*/

/*页面头部*/
.app_header {
  background-color: #1dc4a2;
  position: relative
}
.app_header div {
    width: 55px;
    height: 44px;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
  }
.app_header div .aui-iconfont {
      color: #fff;
      font-weight: bold;
      font-size: 20px;
    }
.app_header div.active {
      background-color: #88dbcb;
    }
.app_header div:first-child {
    left: 0;
  }
.app_header div:last-child {
    right: 0;
  }
.app_header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 44px;
    padding: 0 44px;
  }

/*块状按钮*/
.app_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #1dc4a2;
  font-weight: bold;
  height: 50px;
  border-radius: 50px;
  overflow: hidden
}
.app_btn.sm {
    height: 44px;
    width: 100%;
    border-radius: 44px;
  }
.app_btn.active {
    background-color: #88dbcb;
  }
.app_btn.loading {
    background-color: #88dbcb;
  }

/*输入框组*/
.app_ipt_group {
  padding-top: 20px
}
.app_ipt_group .item {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #ededed
  }
.app_ipt_group .item .icon {
      width: 50px;
      height: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center
    }
.app_ipt_group .item .icon .aui-iconfont {
        font-size: 22px;
        color: #666;
      }
.app_ipt_group .item .icon .aui-icon-unlock:before {
        position: relative;
        left: 4px;
      }
.app_ipt_group .item .ipt {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 100%;
      position: relative;
      top: 2px;
      margin-right: 30px;
      /*color: #aaa;
      background-color: #eee;*/
    }
.app_ipt_group .item .btn {
      margin-left: 10px;
      padding-right: 4px;
      color: #333
    }
.app_ipt_group .item .btn.active {
        color: #666;
        padding-right: 3px;
      }
.app_ipt_group .item .btn.loading {
        color: #666;
      }

/*连接按钮*/
.app_link_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #333
}
.app_link_btn.active {
    color: #666;
    padding-left: 1px;
    padding-right: 0px;
  }
/*文字按钮*/
.app_text_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #1dc4a2
}
.app_text_btn.active {
    color: #88dbcb;
    padding-left: 1px;
    padding-right: 0px;
  }

.app_agreement {
  text-align: center;
  color: #aaa;
  font-size: 15px
}

.app_agreement input {
    top: -2px;
  }

.app_agreement strong {
    color: #1dc4a2;
    font-weight: normal;
    padding-left: 0;
    padding-right: 1px
  }

.app_agreement strong.active {
      padding-left: 1px;
      padding-right: 0;
    }

html, body {
  background-color: #efefef;
}

.header {
  padding: 12px 10px;
  position: relative
}

.header .bg {
    height: 120px;
    background-color: #1dc4a2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

.header .inner {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 1000;
  }

.header img {
    display: block;
    width: 100%;
    height: auto;
  }
.nav {
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  background: #fff;
  overflow: hidden

}
.nav .nav-item {
    width: 50%;
    font-size: 13px;
    color: #666;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 0
  }
.nav .nav-item:nth-child(1) {
      border-bottom: 1px solid #f2f2f2;
      border-right: 1px solid #f2f2f2;
    }
.nav .nav-item:nth-child(2) {
      border-bottom: 1px solid #f2f2f2;
      padding-left: 8px;
    }
.nav .nav-item:nth-child(3) {
      border-right: 1px solid #f2f2f2;
    }
.nav .nav-item:nth-child(4) {
      padding-left: 8px;
    }
.nav .nav-item img {
      width: 60px;
      height: 60px;
      display: block;
    }
.nav .nav-item span {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      font-size: 15px;
      color: #666;
      padding-left: 6px;
    }
.banner {
  margin: 12px 10px 15px;
  border-radius: 5px;
  overflow: hidden
}
.banner img {
    display: block;
    width: 100%;
    height: auto;
  }

.high {
  padding-bottom: 15px
}

.high .tit {
    color: #333;
    font-weight: bold;
    padding: 5px 15px 5px;
  }

.high .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5px
  }

.high .body .high_item {
      width: 50%;
      text-align: center;
      background-color: #fff;
      margin: 0 5px;
      border-radius: 4px;
      padding-bottom: 5px
    }

.high .body .high_item .row1 {
        padding-top: 10px;
        color: #888;
      }

.high .body .high_item .row2 {
        color: #c20015;
        font-weight: bold;
        font-size: 20px;
      }

.high .body .high_item .row3 {
        color: #888;
        font-size: 14px;
        padding-bottom: 5px;
      }

.low {
  padding-bottom: 15px
}

.low .tit {
    color: #333;
    font-weight: bold;
    padding: 10px 15px 5px;
  }

.low .body {
    padding: 0 10px
  }

.low .body .row {
      margin-bottom: 15px;
      background-color: #fff;
      border-radius: 5px;
      padding: 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center
    }

.low .body .row:last-child {
        margin-bottom: 0;
      }

.low .body .row .l {
        width: 100px;
        -ms-flex-negative: 0;
            flex-shrink: 0
      }

.low .body .row .l strong {
          font-size: 25px;
          color: #c20015;
        }

.low .body .row .l span {
          font-size: 14px;
          color: #888;
        }

.low .body .row .r {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1
      }

.low .body .row .r strong {
          font-size: 18px;
          color: #444;
          font-weight: normal;
          display: block;
          width: 100%;
        }

.low .body .row .r span {
          font-size: 15px;
          color: #888;
          display: block;
          width: 100%;
        }

.clickBtn {
  cursor: pointer;
}
