html, body {
  background-color: #f2f2f2;
}
.top {
  height: 120px;
  background:rgba(102,187,106,1);
  padding-left: 30px;
  color: #fff;
  border-top: 1px solid #88dbcb;
  margin-top: -1px;
  & .name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
  }
  & .tel {
    font-size: 16px;
    font-family: PingFangSC-Medium;
    }
}

.tab_my-main {
  padding: 12px;
}
.tm-main-ul {
  background: #FFFFFF;
  box-shadow: 0 4px 6px 0 rgba(162,177,163,0.10);
  border-radius: 6px;
  border-radius: 6px;
}
li.active {
  background-color: #ededed;
  position: relative;
  top: -1px;
}
li {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  & .icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  & .message {
    background-image: url(../../image/tab_my/message@2x.png);
  }
  & .bill {
    background-image: url(../../image/tab_my/bill@2x.png);
  }
  & .orders {
    background-image: url(../../image/tab_my/orders@2x.png);
  }
  & .limit {
    background-image: url(../../image/tab_my/limit@2x.png);
  }
  & .products {
    background-image: url(../../image/tab_my/products@2x.png);
  }
  & .contact {
    background-image: url(../../image/tab_my/contact@2x.png);
  }
  & .settings {
    background-image: url(../../image/tab_my/settings@2x.png);
  }
  & .line-box {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-right: 10px;
    margin-left: 10px;
    height: 54px;
    border-bottom: 1px solid #f5f5f5;
    box-sizing: border-box;
    & .text {
      flex-grow: 1;
      font-family: PingFang-SC-Medium;
      font-size: 16px;
      color: #303133;
    }
    & .msg {
      margin-right: 5px;
      font-size: 14px;
      color: #aaa;
    }
    & .arrow {
      flex-shrink: 0;
      & i {
        font-weight: bold;
        color: #9fa3ac;
      }
    }
  }
}
