<!doctype html>
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <link rel="stylesheet" type="text/css" href="../../css/api.css" >

  <link rel="stylesheet" href="./win.css"></head>
<body>
  <div id="app">
    <div class="bg"></div>
    <div class="header">
      <div class="cur-per">
        <div class="mc"></div>
        <div class="date"><span>[{{productName}}] {{billDate}}</span>账单</div>
        <div class="t">
          <div class="tit">
            <span class="label">应还(元)</span>
            <span class="amount big">{{numeral(sumRepayTotalAmount).format('0,0.00')}}</span>
          </div>
          <div class="total-txt">
            <div class="total-txt__row">
              <span>本金 {{numeral(sumRepayPrincipalAmount).format('0,0.00')}}</span>
              <span> + 利息 {{numeral(sumRepayInterestAmount).format('0,0.00')}}</span>
            </div>
            <div class="total-txt__row" v-if="sumServiceFee && String(sumServiceFee)!=='0'">
              <span>费用 {{numeral(sumServiceFee).format('0,0.00')}}</span>
            </div>
            <div class="total-txt__row" v-if="sumRepayPenaltyAmount && String(sumRepayPenaltyAmount)!=='0'">
              <span>逾期罚息 {{numeral(sumRepayPenaltyAmount).format('0,0.00')}}</span>
            </div>
          </div>
        </div>
        <p v-if="String(status) === '1'" class="tips">账单日标注日期为最晚还款日期，实际还款日以新希望六和旗下饲料公司按合同结算贷款或您主动还款时，结清本次用款的时间为准。</p>
        <p v-else-if="String(status) === '2'" class="tips">今日为最后还款日，为避免产生罚息，请您进款主动还款。</p>
        <p v-else-if="String(status) === '3'" class="tips">您已逾期，为避免产生更多罚息，请您进款主动还款</p>
        <p v-else class="tips">
          还款日将自动还款，请确保您的
          <strong>
            <span class="bank">{{bankName}}</span>
            <span class="bank">卡（尾号</span>
            <span class="bank">{{account}}</span>
            <span class="bank">）</span>
          </strong>
          余额充足
        </p>
      </div>
    </div>

    <ul id="list">
      <li v-for="(item, index) in list" :key="index">
        <div class="t">
          <div class="tit">
            <span class="label">应还(元)</span>
            <span class="amount">{{numeral(item.repayTotalAmount).format('0,0.00')}}</span>
          </div>
          <div class="msg">
            <span>利息：{{numeral(item.repayInterestAmount).format('0,0.00')}}</span>
            <span>
              本金 {{numeral(item.repayPrincipalAmount).format('0,0.00')}}
              <span v-if="item.serviceFee && String(item.serviceFee)!=='0'">
                + 费用 {{numeral(item.serviceFee).format('0,0.00')}}
              </span>
            </span>
          </div>
        </div>
        <div class="b">
          <span>{{item.repayDate}}</span>
          <span>第{{item.curPeriod}}/{{item.repayPeriod}}期</span>
        </div>
      </li>
    </ul>

    <section v-if="more === 'noData'" class="app_list_nodata">
      <div class="app_list_nodata_pic"></div>
      <p class="app_list_nodata_desc">暂时没有数据</p>
    </section>

  </div>

  <script type="text/javascript" src="../../script/api.js"></script>
  <script type="text/javascript" src="../../script/vue.js"></script>

  <script src="./win.js"></script></body>
</html>
