html, body {
  background-color: #f3f3f3;
}
.container {
  padding: 15px;
}

.secl {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.secl_header {
  height: 50px;
  display: flex;
  align-items: stretch;
  & .btn {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
  }
  & .tit {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.active {
  background-color: #aaa;
  color: #fff;
}

.secl_body {
  text-align: center;
  border-top: 1px solid #f3f3f3;
  padding: 20px;
  height: 155px;
  & p {
    font-size: 16px;
    color: #999;
    & strong {
      color: orange;
      font-size: 30px;
      font-weight: bold;
    }
    & span {
      color: #999;
    }
  }
}
.loading {
  padding-top: 40px;
  color: #999;
}
.nodata {
  padding-top: 50px;
  color: #999;
  text-align: center;
}

ul {
  margin-top: 15px;
  border-radius: 5px;
  overflow: hidden;
  & li {
    border-bottom: 1px solid #f3f3f3;
    background: #fff;
    padding: 15px;
  }
}

.row1 {
  display: flex;
  align-items: center;
  & .name {
    color: #333;
    flex-grow: 1;
  }
  & .warning {
    color: orange;
    font-size: 14px;
    margin-right: 10px;
  }
  & .data {
    color: #999;
    font-size: 14px;
    &.red {
      color: red;
    }
  }
}

.row2 {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  & .txt {
    flex-grow: 1;
    & strong {
      font-size: 20px;
      margin-right: 10px;
    }
    & span {
      color: #999;
      font-size: 14px;
    }
    & i {
      color: #999;
      font-size: 15px;
      font-style: normal;
    }
  }
  & .btn {
    flex-shrink: 0;
    height: 28px;
    padding: 0 10px;
    background: #1dc4a2;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.tips {
  text-align: center;
  font-size: 14px;
  color: #aaa;
  padding-top: 20px;
}
.contactus {
  padding: 40px;
  text-align: center;
  color: #1dc4a2;
  & span {
    text-decoration: underline;
  }
}
