html, body {
  background-color: #f3f3f3;
}

.header {
  padding: 0 12px;
  padding-top: 20px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 54px;
    background:rgba(102,187,106,1);
  }
  .header-main {
    height: 108px;
    background:rgba(255,255,255,1);
    box-shadow:0px 4px 6px 0px rgba(162,177,163,0.1);
    border-radius:0px 0px 6px 6px;
    padding-left: 24px;
    padding-top: 24px;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height:12px;
      background:linear-gradient(180deg,rgba(102,187,106,0.4) 0%,rgba(255,255,255,0) 100%);
    }
    span {
      display: block;
      height:22px;
      font-size:16px;
      color:rgba(144,147,153,1);
      line-height:22px;
    }
    strong {
      display: block;
      height:33px;
      font-size:24px;
      font-weight:500;
      font-family:PingFangSC-Medium,PingFang SC;
      color:rgba(48,49,51,1);
      line-height:33px;
      margin-top: 6px;
    }
  }
}

.total {
  padding: 17px 14px 12px;
  display: flex;
  align-items: center;
  strong {
    height:22px;
    font-size:16px;
    font-weight: normal;
    color:rgba(48,49,51,1);
    line-height:22px;
    display: block;
    flex-shrink: 0;
  }
  span {
    flex-grow: 1;
    margin-left: 8px;
    height:20px;
    font-size:14px;
    color:rgba(144,147,153,1);
    line-height:20px;
  }
}

.card {
  padding: 0 12px;
}
.card-item {
  height:160px;
  background:rgba(255,255,255,1);
  box-shadow:0px 4px 6px 0px rgba(162,177,163,0.1);
  border-radius:6px;
  margin-bottom: 12px;
  padding: 12px;
  box-sizing: border-box;
  .card-row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .card-num {
      height:22px;
      font-size:16px;
      color:rgba(48,49,51,1);
      line-height:22px;
    }
    .card-tag {
      width:60px;
      height:16px;
      line-height: 16px;
      text-align: center;
      background:rgba(238,83,84,0.1);
      border-radius:2px;
      border:1px solid rgba(238,83,84,1);
      font-size:10px;
      font-family:PingFang-SC-Medium,PingFang-SC;
      font-weight:500;
      color:rgba(238,83,84,1);
    }
    .card-tag__grag {
      width:60px;
      height:16px;
      line-height: 16px;
      text-align: center;
      background:#eee;
      border-radius:2px;
      font-size:10px;
      font-family:PingFang-SC-Medium,PingFang-SC;
      font-weight:500;
      color:#ccc;
    }
  }
  .card-row2 {
    margin-top: 12px;
    height:32px;
    background:rgba(102,187,106,0.1);
    border-radius:4px;
    font-size:14px;
    color:rgba(48,49,51,1);
    line-height:32px;
  }
  .card-row3 {
    margin-top: 10px;
    height:20px;
    font-size:14px;
    color:rgba(144,147,153,1);
    line-height:20px;
  }
  .card-row4 {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .card-arrowbtn {
      height:20px;
      font-size:14px;
      font-family:PingFang-SC-Medium,PingFang-SC;
      color:rgba(102,187,106,1);
      display: flex;
      align-items: center;
      &::after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 4px;
        background: url(../../image/arrow-r.png) no-repeat center;
        background-size: contain;
      }
    }
    .card-btn {
      width:80px;
      height:36px;
      background:rgba(102,187,106,1);
      border-radius:18px;
      font-size:16px;
      color:rgba(255,255,255,1);
      display: flex;
      align-items: center;
      justify-content: center;
      &.disabled {
        background:rgba(220,224,232,1);
      }
    }
  }
}

