html, body {
  background-color: #ebebeb;
}
ul {
  padding: 15px;
}
li {
  margin-top: 20px;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
}
.t {
  border-bottom: 1px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px
}
.t .tit {
    color: #1dc4a2;
    font-weight: bold;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
.t .status {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
.t .status {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    color: #aaa;
    font-size: 15px;
  }

.b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

.b .text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1
  }

.b .text strong {
      color: #333;
    }

.b .text p {
      color: #aaa;
    }

.b .icon {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
