/* aui reset */
.aui-radio:checked,
.aui-radio.aui-checked,
.aui-checkbox:checked,
.aui-checkbox.aui-checked {
  background-color: #1dc4a2 !important;
  border: solid 1px #1dc4a2 !important;
}

.aui-switch:checked {
  border-color: #1dc4a2 !important;
  background-color: #1dc4a2 !important;
}

/*1cb594 88dbcb 1aa689 5aae9c*/

/*页面头部*/
.app_header {
  background-color: #1dc4a2;
  position: relative;
  & div {
    width: 55px;
    height: 44px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    & .aui-iconfont {
      color: #fff;
      font-weight: bold;
      font-size: 20px;
    }
    &.active {
      background-color: #88dbcb;
    }
  }
  & div:first-child {
    left: 0;
  }
  & div:last-child {
    right: 0;
  }
  & h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 44px;
    padding: 0 44px;
  }
}

/*块状按钮*/
.app_btn {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #1dc4a2;
  font-weight: bold;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
  &.sm {
    height: 44px;
    width: 100%;
    border-radius: 44px;
  }
  &.active {
    background-color: #88dbcb;
  }
  &.loading {
    background-color: #88dbcb;
  }
}

/*输入框组*/
.app_ipt_group {
  padding-top: 20px;
  & .item {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ededed;
    & .icon {
      width: 50px;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      & .aui-iconfont {
        font-size: 22px;
        color: #666;
      }
      & .aui-icon-unlock:before {
        position: relative;
        left: 4px;
      }
    }
    & .ipt {
      flex-grow: 1;
      height: 100%;
      position: relative;
      top: 2px;
      margin-right: 30px;
      /*color: #aaa;
      background-color: #eee;*/
    }
    & .btn {
      margin-left: 10px;
      padding-right: 4px;
      color: #333;
      &.active {
        color: #666;
        padding-right: 3px;
      }
      &.loading {
        color: #666;
      }
    }
  }
}

/*连接按钮*/
.app_link_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #333;
  &.active {
    color: #666;
    padding-left: 1px;
    padding-right: 0px;
  }
}
/*文字按钮*/
.app_text_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #1dc4a2;
  &.active {
    color: #88dbcb;
    padding-left: 1px;
    padding-right: 0px;
  }
}

.app_agreement {
  text-align: center;
  color: #aaa;
  font-size: 15px;
  & input {
    top: -2px;
  }
  & strong {
    color: #1dc4a2;
    font-weight: normal;
    padding-left: 0;
    padding-right: 1px;
    &.active {
      padding-left: 1px;
      padding-right: 0;
    }
  }
}
