@import "../../../styles/_variable.less";
@import "../../../styles/form.less";
html,
body {
  background: #fff;
}
.pd {
  padding: 12px;
}
.tips {
  height: 36px;
  background: rgba(102, 187, 106, 0.1);
  border-radius: 6px;
  line-height: 36px;
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: @themeColor;
  padding-left: 12px;
}
.form {
  margin-bottom: 72px;
  .item {
    .desc {
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(48, 49, 51, 1);
      padding: 22px 0 17px;

      &.bd {
        border-bottom: 1px solid rgba(245, 245, 245, 1);
      }
    }
    .form-item {
      padding: 16px 0;
      &.sm {
        padding: 0;
      }
      &.bd {
        border-bottom: 1px solid rgba(245, 245, 245, 1);
      }
      .city {
        font-size: 14px;
        font-family: PingFang-SC-Medium, PingFang-SC;
        font-weight: 500;
        color: @themeColor;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &.active {
          color: #000;
        }
      }
      .ipt {
        font-size: 14px;
        font-family: PingFang-SC-Medium, PingFang-SC;
        font-weight: 500;
        min-width: 350px;
        // color: rgba(192, 196, 204, 1);
      }
      .upload {
        width: 214px;
        height: 300px;
        border-radius: 11px;
        border: 2px dashed rgba(245, 245, 245, 1);
        background: url("../../image/yyzz_ex.png") no-repeat;
        background-size: 184px 270px;
        background-position: 15px 15px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        &.nobg {
          background: none;
        }
        img {
          width: 90%;
        }
      }
      .detail {
        font-size: 16px;
        font-family: PingFang-SC-Medium, PingFang-SC;
        font-weight: 500;
        color: rgba(144, 147, 153, 1);
        .gr {
          color: @themeColor;
        }
      }
    }
  }
}
.bottom-box {
  padding: 12px 0 38px 0;
  background: #fff;
}

.cl-cell_arrow {
  width: 16px;
  height: 16px;
  //color: #999;
  //transform: scaleY(1.6);
  transition: all 0.2s ease-in-out;
  transform-origin: center center;
  flex: none;
  background: url(../../image/guarantee/form-arrow.png) no-repeat;
  background-size: 100% 100%;
  &.collapse {
    transform: rotate(90deg);
  }
  &.rotate {
    transform: rotate(-90deg);
  }
}
