<!-- 好销贷用款申请 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
    />
    <meta
      name="format-detection"
      content="telephone=no,email=no,date=no,address=no"
    />
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../../css/aui.css" /> -->
  </head>
  <body>
    <div id="app">
      <section class="mg">
        <div class="header">
          <p class="can">
            <span class="label">当前可用金额(元)</span>
            <span class="num">200,000,00</span>
          </p>
          <div v-if="orders.length >= 2" class="can use">
            <span class="label">用款金额(元)</span>
            <div class="num">240,000,00</div>
          </div>
          <div v-else class="can use single">
            <span class="label">用款金额(元)</span>
            <input class="num-ipt" />
          </div>
          <div v-if="isWarning" class="warning">用款金额已超出当前可用额度</div>
        </div>
        <section v-if="orders.length >= 1" class="main">
          <div class="tips">请选择用款入库单</div>
          <ul class="list">
            <li
              class="cell"
              v-for="item in orders"
              :key="item.orderId"
              :class="item.isSelected ? 'selected' : ''"
            >
              <div class="title">
                {{item.title}}
                <span v-if="item.isSelected" class="ok">这里差一个勾</span>
              </div>
              <div class="num">
                <div class="can">
                  <div class="lb">可用金额</div>
                  <div class="n">{{item.can}}</div>
                </div>
                <div class="can left">
                  <div class="lb">金额</div>
                  <div class="n">{{item.left}}</div>
                </div>
              </div>
              <div class="date">
                下单日期:
                <span>{{item.date}}</span>
              </div>
              <div class="orderId">入库单编号: {{item.orderId}}</div>
            </li>
          </ul>
        </section>
        <section v-else class="main ept">
          <div class="box">
            <div class="empty">这里缺张图</div>
            <div class="tps">暂无可用款入库单</div>
          </div>
        </section>
      </section>
      <div class="bottom-box">
        <div class="btn btn-normal" :class="orders.length <= 0 ? 'disabled' : ''">下一步</div>
      </div>
    </div>

    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/vue.js"></script>
  </body>
</html>
