<!-- 好销贷用款申请 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
    />
    <meta
      name="format-detection"
      content="telephone=no,email=no,date=no,address=no"
    />
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../../css/aui.css" /> -->
  </head>
  <body>
    <div id="app">
      <section class="mg">
        <div class="header">
          <p class="can">
            <span class="label">当前可用金额(元)</span>
            <span class="num" :class="{war: isWarning}"
              >{{amountTn}}</span
            >
          </p>
          <div v-if="selectedNumber >= 2" class="can use">
            <span class="label">用款金额(元)</span>
            <div class="num" :class="{war: isWarning}">
              {{useAmountTn}}
            </div>
          </div>
          <div v-else-if="selectedNumber === 1" class="can use single">
            <span class="label">用款金额(元)</span>
            <input
              class="num-ipt"
              type="text"
              :class="{war: isWarning}"
              :value="useAmountTn"
              @keyup="handleChange"
              maxlength="10"
            />
          </div>
          <div v-if="selectedNumber === 0" class="can use">
            <span class="label">用款金额(元)</span>
            <div class="num" :class="{war: isWarning}">0</div>
          </div>
          <div v-if="isWarning" class="warning">用款金额不在范围之内</div>
          <div v-else class="warning calm">1000≤用款金额≤可用金额</div>
        </div>
        <section v-if="EBSOrders.length >= 1" class="main">
          <div class="tips">请选择用款入库单</div>
          <ul class="list">
            <li
              class="cell"
              v-for="(item, index) in EBSOrders"
              :key="item.warehouseOrderId"
              :class="{selected: item.isSelected}"
              @click="handleSelect(index)"
            >
              <div class="title">
                {{item.buyCustName}}
                <span v-if="item.isSelected" class="ok"></span>
              </div>
              <div class="num">
                <div class="can">
                  <div class="lb">可用金额</div>
                  <div class="n">{{item.wareAvailableAmount}}</div>
                </div>
                <div class="can left">
                  <div class="lb">金额</div>
                  <div class="n">{{item.wareShouldPayAmount}}</div>
                </div>
              </div>
              <div class="date">
                下单日期:
                <span>{{item.wareOrderTime}}</span>
              </div>
              <div class="orderId">
                入库单编号: {{item.expWarehouseOrderNo}}
              </div>
            </li>
          </ul>
        </section>
        <section v-else class="main ept">
          <div class="box">
            <div class="empty"></div>
            <div class="tps">暂无可用款入库单</div>
          </div>
        </section>
      </section>
      <div class="bottom-box">
        <button
          class="btn btn-normal"
          :class="{disabled : EBSOrders.length <= 0 || isWarning }"
          @click="handleSubmit"
          :disabled="EBSOrders.length <= 0 || isWarning"
          tapmode
        >
          下一步
        </button>
      </div>
    </div>

    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/vue.js"></script>
  </body>
</html>
