html, body {
  height: 100%;
}
body {
  background-color: #fff;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.close {
  position: absolute;
  top: 40px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: block;
  background-image: url(../../image/close.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1000;
}

.top {
  background-color: #1dc4a2;
  color: #fff;
  height: 180px;
  width: 100%;
  box-sizing: border-box;
}

.username {
  text-align: center;
  font-size: 22px;
  padding-top: 50px;
  font-weight: bold;
}

.version {
  text-align: center;
  font-size: 18px;
}

.middle {
  flex-grow: 1;
}
.bottom {
  padding: 30px 20px;
  box-sizing: border-box;
  z-index: 1000;
  width: 100%;
  & div {
    margin-top: 20px;
  }
}
