<!doctype html>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" >
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no" >
    <link rel="stylesheet" type="text/css" href="../../css/api.css" >
  
  <link rel="stylesheet" href="./index.css"></head>
  <body>
    <div class="container" id="app" v-cloak>

      <div class="top">
        <strong>{{numeral(availableValue).format('0,0.00')}}</strong>
        <span>最高可贷金额(元)</span>
      </div>

      <div class="middle">
        <div class="middle-label">申请金额</div>
        <div class="middle-ipt">
          <span>￥</span>
          <input type="number" v-model="applyMoney" placeholder="请输入申请金额">
        </div>
        
      </div>

      <div class="bottom">
        <div class="bottom-row">
          <span class="bottom-label">贷款利率</span><span class="bottom-value">{{productDetails.interestRate || ''}}%</span>
        </div>
        <div class="bottom-row">
          <span class="bottom-label">贷款期限(月)</span><span class="bottom-value">{{productDetails.loanTerm || ''}}</span>
        </div>
        <div class="bottom-row">
          <span class="bottom-label">贷款到期日</span><span class="bottom-value">{{productDetails.loanDueDate || ''}}</span>
        </div>
        <div class="bottom-row">
          <span class="bottom-label">还款方式</span><span class="bottom-value">{{repayTypeMap[productDetails.repayType]}}</span>
        </div>
        <div class="bottom-row">
          <span class="bottom-label">借款人姓名</span><span class="bottom-value">{{name}}</span>
        </div>
        <div class="bottom-row">
          <span class="bottom-label">贷款收款账号</span><span class="bottom-value">{{loanPayeeAccountNo}}</span>
        </div>
        <div class="bottom-row">
          <span class="bottom-label">贷款收款账户名称</span><span class="bottom-value">{{loanPayeeAccountName}}</span>
        </div>
      </div>

      <div class="upload">
        <div :class="['upload-main', {nobg: pic}]">
          <img class="upload-pic" :src="pic" alt="">
          <div class="upload-btn" @click="selectPicture()"></div>
        </div>
        <div class="upload-txt">点击上传营业执照</div>
      </div>

      <div class="code">
        <div class="code-tit">统一社会信用代码</div>
        <input class="code-ipt" v-model="companyCode" type="text" placeholder="请输入">
      </div>

      <div class="code">
        <div class="code-tit">从业人数</div>
        <input class="code-ipt" v-model="workerCount" type="number" placeholder="请输入">
      </div>

      <div class="code">
        <div class="code-tit">资产总额(万元)</div>
        <input class="code-ipt" v-model="totalAssets" type="number" placeholder="请输入">
      </div>

      <div class="listgroup">
        <div class="listgroup-item" @click="openDialog()">代养合同信息</div>
      </div>

      <div class="bottom-btn">
        <div :class="['app_btn', {disabled: !submitBtnEnable}]" @click="submit()">立即申请</div>
      </div>

    </div>
    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/vue.js"></script>
  
  <script src="./index.js"></script></body>
</html>
