/* aui reset */
.aui-radio:checked, .aui-radio.aui-checked, .aui-checkbox:checked, .aui-checkbox.aui-checked {
  background-color: #66BB6A !important;
  border: solid 1px #66BB6A !important;
}
.aui-switch:checked {
  border-color: #66BB6A !important;
  background-color: #66BB6A !important;
}
/*1cb594 88dbcb 1aa689 5aae9c*/
/*页面头部*/
.app_header.white {
  background-color: #fff;
}
.app_header {
  background-color: #66BB6A;
  position: relative;
}
.app_header div {
    width: 55px;
    height: 44px;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
.app_header div .aui-iconfont {
      color: #fff;
      font-weight: bold;
      font-size: 20px;
    }
.app_header div.active {
      background-color: #88dbcb;
    }
.app_header div:first-child {
    left: 0;
  }
.app_header div:last-child {
    right: 0;
  }
.app_header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 44px;
    padding: 0 44px;
  }
/*块状按钮*/
.app_btn {
  height:50px;
  background:rgba(102,187,106,1);
  border-radius:25px;
  font-size:16px;
  font-weight:500;
  color:rgba(255,255,255,1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app_btn.active {
    background-color: rgba(102, 187, 106, 0.75);
  }
.app_btn.loading {
    background-color: rgba(102, 187, 106, 0.75);
  }
.app_plain_btn {
  height:50px;
  background:rgba(255,255,255,1);
  border-radius:25px;
  border:1px solid rgba(102,187,106,1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size:16px;
  font-weight:500;
  color:rgba(102,187,106,1);
}
.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.tab label input {
      display: none;
    }
.tab label span {
      height:42px;
      line-height:42px;
      font-size:16px;
      font-weight:500;
      color: #303133;
      font-weight: normal;
      border-bottom: 4px solid #fff;
    }
.tab label input:checked + span {
      color: #66BB6A;
      border-bottom: 4px solid rgba(102,187,106,1);
    }
/*输入框组*/
.app_ipt_group {
  padding-top: 20px;
}
.app_ipt_group .item {
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid rgba(234,234,234,1);
  }
.app_ipt_group .item .icon {
      width: 50px;
      height: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
.app_ipt_group .item .icon .aui-iconfont {
        font-size: 22px;
        color: #666;
      }
.app_ipt_group .item .icon .aui-icon-unlock:before {
        position: relative;
        left: 4px;
      }
.app_ipt_group .item .ipt {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 100%;
      position: relative;
      top: 2px;
      margin-right: 20px;
    }
.app_ipt_group .item .ipt input {
        width: 100%;
        border: 0;
        outline: 0;
      }
.app_ipt_group .item .btn {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      margin-left: 10px;
      padding-right: 4px;
      font-size:16px;
      font-weight: normal;
      color: #66BB6A;
    }
.app_ipt_group .item .btn.active {
        color:rgba(144,147,153,1);
        padding-right: 3px;
      }
.app_ipt_group .item .btn.loading {
        color: #666;
      }
.app_checkbox {
  width:16px;
  height:16px;
  line-height: 16px;
  border: 1px solid rgba(192,196,204,1);
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-user-select: none;
}
.app_checkbox:checked {
    background-image: url(../../image/form/checked.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
.app_agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

}
.app_agreement label {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 10px;
  }
.app_agreement .agreement_content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-top: 1px;
  }
.app_agreement .agreement_content ul {
      display: inline;
    }
.app_agreement .agreement_content ul li {
        display: inline;
      }
.app_agreement .agreement_content strong {
      display: inline;
      font-size:15px;
      font-weight:normal;
      color:rgba(144,147,153,1);
    }
.app_agreement .agreement_content span {
      display: inline;
      font-size:15px;
      font-weight:normal;
      color:rgba(144,147,153,1);
    }
.app_agreement .agreement_content li {
      display: inline;
      font-size:15px;
      font-weight: normal;
      color: #66BB6A;
      padding-left: 0;
      padding-right: 1px;
    }
.app_agreement .agreement_content li.active {
        padding-left: 1px;
        padding-right: 0;
      }
/*连接按钮*/
.app_link_btn {
  padding-left: 0;
  padding-right: 1px;
  font-size:16px;
  color:rgba(102,187,106,1);
}
.app_link_btn.active {
    padding-left: 1px;
    padding-right: 0px;
  }
/*文字按钮*/
.app_text_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #66BB6A;
}
.app_text_btn.active {
    color: rgba(102, 187, 106, 0.75);
    padding-left: 1px;
    padding-right: 0px;
  }

.gt-page {
  min-height: 100vh;
  padding-bottom: 30px;
  position: relative;
}
.form-body {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  overflow: auto;
}
.form-body.folder {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.form-cell_shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-cell_shell.top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.form-cell_shell .fc_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  height: 50px;
}
.form-cell_shell .fc_span {
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #303133;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-cell_shell .fc_content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #F5F5F5;
}
.form-cell_shell .fc_content .fc_c_common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-cell_shell .fc_content .fc_c_common.bd {
  border-bottom: 1px solid #F5F5F5;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_input {
  font-size: 14px;
  padding: 0 10px;
  height: 50px;
  display: inline-block;
}
.form-cell_shell .fc_content .fc_c_common .fc_unit {
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #303133;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 0 10px;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_picker {
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_picker .placeholder {
  color: #c0c4cc;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_select .fc_c_option {
  padding: 6px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #303133;
  background: rgba(144, 147, 153, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_select .fc_c_option.active {
  background: #66bb6a;
  color: #ffffff;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_city {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_city .fc_c_city_label {
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #66bb6a;
  line-height: 20px;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_city .fc_c_city_label.selected {
  color: #000;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_img {
  width: 50%;
}
.hidden {
  display: none;
}
.cl_c_submit_btn {
  max-width: 94%;
  height: 50px;
  line-height: 50px;
  margin: 50px auto;
  text-align: center;
  background: #66bb6a;
  border-radius: 25px;
  font-size: 16px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #ffffff;
}
input, textarea, button {
  outline: none;
  border: none;
}
.btn {
  width: 331px;
  height: 50px;
  background: #66bb6a;
  border-radius: 25px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #ffffff;
}
.btn.disabled {
  background: #dce0e8;
  color: #ffffff;
}
.btn.btn-prime {
  border: 1px solid #66bb6a;
  background: #ffffff;
  color: #66bb6a;
}
.btn.btn-transparent {
  background: rgba(102, 187, 106, 0.1);
  color: #66bb6a;
  border: none;
}
html, body {
  background-color: #efefef;
}
.cl-cell {
  margin: 12px 0;
  border-radius: 5px;
  background: #fff;
  padding: 21px 12px;
  position: relative;
}
.cl-cell .cl-cell_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cl-cell .cl-cell_box .cl-cell_text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cl-cell .cl-cell_box .cl-cell_text.single {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cl-cell .cl-cell_box .cl-cell_text .update {
  color: #66bb6a;
  font-size: 14px;
  margin-bottom: 6px;
  margin-right: 10px;
}
.cl-cell .cl-cell_box .cl-cell_text .del {
  color: #66bb6a;
  font-size: 14px;
  margin-bottom: 6px;
  margin-right: 10px;
}
.cl-cell .cl-cell_box .cl-cell_text .cl-cell_index {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  position: absolute;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  left: -15px;
  top: 30px;
  border: 1px solid #c0c4cc;
  font-size: 20px;
  font-family: DINAlternate-Bold, DINAlternate;
  font-weight: bold;
  color: #909399;
}
.cl-cell .cl-cell_box .cl-cell_text.next .cl-cell_index {
  color: #66bb6a;
  border: 1px solid #66bb6a;
}
.cl-cell .cl-cell_box .cl-cell_text.done .cl-cell_index {
  background: #66bb6a;
  border: none;
  color: #fff;
}
.cl-cell .cl-cell_box .cl-cell_text.done .clt_main {
  color: #66bb6a;
}
.cl-cell .cl-cell_box .cl-cell_text span {
  color: #999;
  font-size: 14px;
  display: block;
  height: 22px;
}
.cl-cell .cl-cell_box .cl-cell_text span.clt_main {
  margin-bottom: 9px;
  font-size: 16px;
  color: #303133;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cl-cell .cl-cell_box .cl-cell_arrow {
  width: 16px;
  height: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  background: url(../../image/guarantee/form-arrow.png) no-repeat;
  background-size: 100% 100%;
}
.cl-cell .cl-cell_box .cl-cell_arrow.collapse {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.cl-cell .cl-cell_box .cl-cell_arrow.rotate {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.icon_house_scan {
  width: 17px;
  height: 17px;
  background: url(../../image/guarantee/scan.png) no-repeat center;
  background-size: 100% 100%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 10px;
  margin-left: 20px;
  padding-left: 20px;
  color: transparent !important;
}
.cl_h_bd {
  padding-bottom: 10px;
  border-bottom: 1px dashed #C0C4CC;
}
.cl_add_btn {
  height: 50px;
  background: #ffffff;
  line-height: 50px;
  text-align: center;
  width: 100%;
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #66bb6a;
  margin-top: 12px;
}
.a-img {
  width: 88px;
  height: 88px;
  background: #f5f5f5;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.a-img .def {
  width: 18px;
  height: 18px;
  background: url(../../image/guarantee/camera.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  z-index: 0;
  left: 35px;
  top: 35px;
}
.a-img .a-img-url {
  position: relative;
  z-index: 1;
  height: 100%;
}
.a-img .a-img-bg {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: 100%;
  width: 100%;
}
.a-text-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 12px;
  height: 88px;
  background: #ffffff;
  border: 1px solid #f5f5f5;
  position: relative;
}
.a-text-box .a-desc {
  width: 100%;
  height: 100%;
  padding: 10px 14px;
}
.a-text-box .a-count {
  position: absolute;
  bottom: 6px;
  right: 6px;
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #c0c4cc;
}
.form-cell_shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 12px;
}
.b-status {
  width: 68px;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #ffffff;
  margin-left: 12px;
  text-align: center;
}
.b-status.s_1 {
  background: rgba(102, 187, 106, 0.1);
  border: 1px solid #66bb6a;
  color: #66bb6a;
}
.b-status.s_2 {
  background: #66bb6a;
  color: #fff;
}
.b-status.s_3 {
  background: #909399;
  color: #fff;
}
.preview {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 777;
}
.preview .pv-img {
  width: 90%;
}
.preview.hidden {
  display: none;
  z-index: -1;
  width: 0;
  height: 0;
}
.pv-delete {
  margin-top: 10px;
  font-size: 16px;
  padding: 12px;
  background: #fff;
  color: #000;
}
