html, body {
  background-color: #efefef;
}
.title {
  text-align: center;
  padding-top: 20px;
  color: #333;
  font-size: 15px;
}
ul {
  padding: 0 15px;
  margin: 0;
  padding-bottom: 20px;
}
li {
  margin-top: 15px;
  border-radius: 3px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 12px;
  & .l {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    & .col1 {
      width: 40%;
    }
    & .col2 {
      width: 60%;
      text-align: left;
    }
  }
}

.otw {
  /*overflow: hidden;
  text-overflow: ellipsis;*/
  white-space: nowrap;
  width: 100%;
}

.btn {
  flex-shrink: 0;
  background: #66BB6A;
  color: #fff;
  height: 30px;
  border: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 4px;
  line-height: 1;
  font-size: 14px;
  &.active {
    background: #88dbcb;
  }
}

.red {
  color: #ce0016;
}

.btn-box {
  padding: 10px 20px 20px;
}
