<!-- 通用产品列表页 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
    />
    <meta
      name="format-detection"
      content="telephone=no,email=no,date=no,address=no"
    />
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../../css/aui.css" /> -->
  </head>
  <body>
    <div id="app">
      <div class="product-list">
        <!-- 好销贷产品列表 -->
        <ul v-if="pageParam.pageFrom === 'gongyingshang'">
          <li v-for="item in hxdData" :key="item.productId">
            <div class="left">
              <h3>{{item.productTotalLimit}}万</h3>
              <div class="grey">最高额度</div>
            </div>
            <div class="center">
              <h4>{{item.productTitle}}</h4>
              <div class="grey">{{item.productSlogan}}</div>
            </div>
            <div class="right" @click="changeHXD(item)" v-if="item.creditStatus === 0">
              <button>立即开通</button>
            </div>
            <div class="right" @click="changeHXD(item)" v-if="item.creditStatus === 2">
              <p class="line">已开通</p>
            </div>
            <div class="right" @click="changeHXD(item)" v-if="item.creditStatus === 1">
              <p class="line">授信处理中</p>
            </div>
            <div class="right" v-if="item.creditStatus === 3">
              <p class="reject">已拒绝</p>
              <span class="grey">{{item.refusedReason}}</span>
            </div>
          </li>
        </ul>

        <!-- 新网押金贷 -->
        <ul v-if="pageParam.pageFrom === 'hezuoyanghu'">
          <li v-for="item in yjdData" :key="item.id">
            <div class="left">
              <h3>{{filter.toThousands(item.totalLimit)}}</h3>
              <div class="grey">最高额度(元)</div>
            </div>
            <div class="center">
              <h4>{{item.title}}</h4>
              <div class="grey">{{item.introduce}}</div>
            </div>
            <div class="right" @click="changeYJD(item)">
              <button>立即申请</button>
            </div>
          </li>
        </ul>
          <!-- <li>
            <div class="left">
              <h3>200万</h3>
              <div class="grey">最高额度(元)</div>
            </div>
            <div class="center">
              <h4>金服好销贷</h4>
              <div class="grey">安全可靠 超长账期</div>
            </div>
            <div class="right">
              <p class="line">授信处理中</p>
            </div>
          </li> -->

          <!-- <li>
            <div class="left">
              <h3>200万</h3>
              <div class="grey">最高额度(元)</div>
            </div>
            <div class="center">
              <h4>金服好销贷</h4>
              <div class="grey">安全可靠 超长账期</div>
            </div>
            <div class="right">
              <p class="reject">已拒绝</p>
              <span class="grey">拒绝原因</span>
            </div>
          </li> -->
      </div>

      <!-- <div class="product-list"> -->
        <!-- 好销贷 -->
        <!-- <div v-if="pageParam.pageFrom === 'gongyingshang'">
          <div class="card" v-for="item in hxdData" :key="item.productId">
            <div class="title">{{item.productTitle}}</div>
            <div class="content">
              <div class="left">
                <span class="red">{{item.productTotalLimit}}<i>万元</i></span>
                <span class="grey">最高可申请</span>
              </div>
              <div class="center">
                <p class="grey">{{item.productSlogan}}</p>
              </div>
              <div class="right" @click="changePage(item)" v-if="item.creditStatus === 0">
                <button>立即开通</button>
              </div>
              <div class="right" @click="changePage(item)" v-if="item.creditStatus === 2">
                <p class="line">已开通</p>
              </div>
              <div class="right" @click="changePage(item)" v-if="item.creditStatus === 1">
                <p class="line">授信处理中</p>
              </div>
              <div class="right" v-if="item.creditStatus === 3">
                <p class="reject">已拒绝</p>
                <span class="grey">{{item.refusedReason}}</span>
              </div>
            </div>
          </div>
        </div> -->
        
        <!-- 押金贷 -->
        <!-- <div class="card" v-for="item in yjdData" :key="item.id">
          <div class="title">{{item.title}}</div>
          <div class="content">
            <div class="left">
              <span class="red">{{item.totalLimit}}</span>
              <span class="grey">最高额度(元)</span>
            </div>
            <div class="center">
              <p class="grey">{{item.introduce}}</p>
              <p class="grey">建行押金贷，用于新希望合作养户代养猪苗等时贷款使用，多块好省，推荐使用</p>
            </div>
            <div class="right">
              <button>立即开通</button>
            </div>
          </div>
        </div> -->
      <!-- </div> -->
    </div>

    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/vue.js"></script>
  </body>
</html>
