html, body {
  background-color: #ebebeb;
}
ul {
  padding: 0 15px;
}
li {
  background: #fff;
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px;
}
.t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px
}
.t strong {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
.t span {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
.b {
  color: #aaa;
  padding: 10px 0;
}
