* {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.form {
  padding: 12px;
  .form-block {
    margin-top: 25px;
  }
}
.agreement {
  margin-top: 28px;
  padding: 0 16px;
}
.block-btn {
  margin: 12px;
  margin-top: 25px;
}
