html, body {
  background-color: #fff;
}
.container {
  padding: 10px 26px 20px;
}

.tips {
  background: #e7eff4;
  line-height: 1.5;
  padding: 12px 15px;
  font-size: 16px;
  color: #8d9daa;
}
.tips2 {
  border-bottom: 1px solid #ededed;
  padding: 10px 0
}
.tips2 h2 {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
  }
.tips2 p {
    color: #aaa;
    font-size: 15px;
    margin-top: 5px;
  }
.ipt-group {
  padding: 10px 0
}
.ipt-group .item {
    height: 36px;
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
.ipt-group .item label {
      width: 100px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      color: #8d9daa;
      font-size: 16px;
      height: 100%;
      line-height: 1.5;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
.ipt-group .item div {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
.ipt-group .item:last-child {
    height: 70px;
  }

.btn-box {
  text-align: center
}

.btn-box .icon-btn {
    color: #1dc4a2;
    border: 1px solid #1dc4a2;
    height: 36px;
    border-radius: 36px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 15px
  }

.btn-box .icon-btn i {
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: -1px;
    }

.btn-box .icon-btn span {
      margin-left: 5px;
      font-size: 15px;
    }

.btn-box .icon-btn.active {
      background-color: #88dbcb;
      color: #fff;
      border: 0;
    }
.agreement-box {
  margin-top: 30px;
}
.btn-box {
  margin-top: 10px;
}
