* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input, textarea {
  outline: none;
  border: none;
}
[v-cloak] {
  display: none !important;  
}
.app_list_loading, .app_list_nomore, .app_list_loadmore {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 15px;
  color: #999;
}
.app_list_nodata {
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  height: 300px;
}
.app_list_nodata .app_list_nodata_pic {
    background: url(../../image/default/empty.png) center no-repeat;
    background-size: 100%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
.app_list_nodata .app_list_nodata_desc {
    font-size: 14px;
    color: #999;
    text-align: center;
    width: 100%;
  }
/*页面头部*/
.app_header.white {
  background-color: #fff;
}
.app_header {
  background-color: #66BB6A;
  position: relative;
}
.app_header div {
    width: 55px;
    height: 44px;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
.app_header div .aui-iconfont {
      color: #fff;
      font-weight: bold;
      font-size: 20px;
    }
.app_header div.active {
      background-color: #88dbcb;
    }
.app_header div:first-child {
    left: 0;
  }
.app_header div:last-child {
    right: 0;
  }
.app_header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 44px;
    padding: 0 44px;
  }
/*块状按钮*/
.app_btn {
  height:50px;
  background:rgba(102,187,106,1);
  border-radius:25px;
  font-size:16px;
  font-weight:500;
  color:rgba(255,255,255,1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app_btn.active {
    background-color: rgba(102, 187, 106, 0.75);
  }
.app_btn.loading {
    background-color: rgba(102, 187, 106, 0.75);
  }
.app_plain_btn {
  height:50px;
  background:rgba(255,255,255,1);
  border-radius:25px;
  border:1px solid rgba(102,187,106,1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size:16px;
  font-weight:500;
  color:rgba(102,187,106,1);
}
.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.tab label input {
      display: none;
    }
.tab label span {
      height:42px;
      line-height:42px;
      font-size:16px;
      font-weight:500;
      color: #303133;
      font-weight: normal;
      border-bottom: 4px solid #fff;
    }
.tab label input:checked + span {
      color: #66BB6A;
      border-bottom: 4px solid rgba(102,187,106,1);
    }
/*输入框组*/
.app_ipt_group {
  padding-top: 20px;
}
.app_ipt_group .item {
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid rgba(234,234,234,1);
  }
.app_ipt_group .item .icon {
      width: 50px;
      height: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
.app_ipt_group .item .icon .aui-iconfont {
        font-size: 22px;
        color: #666;
      }
.app_ipt_group .item .icon .aui-icon-unlock:before {
        position: relative;
        left: 4px;
      }
.app_ipt_group .item .ipt {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 100%;
      position: relative;
      top: 2px;
      margin-right: 20px;
    }
.app_ipt_group .item .ipt input {
        width: 100%;
        border: 0;
        outline: 0;
      }
.app_ipt_group .item .btn {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      margin-left: 10px;
      padding-right: 4px;
      font-size:16px;
      font-weight: normal;
      color: #66BB6A;
    }
.app_ipt_group .item .btn.active {
        color:rgba(144,147,153,1);
        padding-right: 3px;
      }
.app_ipt_group .item .btn.loading {
        color: #666;
      }
.app_checkbox {
  width:16px;
  height:16px;
  line-height: 16px;
  border: 1px solid rgba(192,196,204,1);
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-user-select: none;
}
.app_checkbox:checked {
    background-image: url(../../image/form/checked.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
.app_agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

}
.app_agreement label {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 10px;
  }
.app_agreement .agreement_content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-top: 1px;
  }
.app_agreement .agreement_content ul {
      display: inline;
    }
.app_agreement .agreement_content ul li {
        display: inline;
      }
.app_agreement .agreement_content strong {
      display: inline;
      font-size:15px;
      font-weight:normal;
      color:rgba(144,147,153,1);
    }
.app_agreement .agreement_content span {
      display: inline;
      font-size:15px;
      font-weight:normal;
      color:rgba(144,147,153,1);
    }
.app_agreement .agreement_content li {
      display: inline;
      font-size:15px;
      font-weight: normal;
      color: #66BB6A;
      padding-left: 0;
      padding-right: 1px;
    }
.app_agreement .agreement_content li.active {
        padding-left: 1px;
        padding-right: 0;
      }
/*连接按钮*/
.app_link_btn {
  padding-left: 0;
  padding-right: 1px;
  font-size:16px;
  color:rgba(102,187,106,1);
}
.app_link_btn.active {
    padding-left: 1px;
    padding-right: 0px;
  }
/*文字按钮*/
.app_text_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #66BB6A;
}
.app_text_btn.active {
    color: rgba(102, 187, 106, 0.75);
    padding-left: 1px;
    padding-right: 0px;
  }

.step {
  margin-top: 24px;
  margin-bottom: 16px;
}
  .step .step_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: hidden;
  }
  .step .step_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
  }
  .step .step_item:last-child .icon {
      margin-right: 0;
    }
  .step .step_item .icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width:26px;
      height:26px;
      border-radius: 50%;
      margin-right: 6px;
      background:rgba(255,255,255,1);
      border:1px solid rgba(192,196,204,1);
      font-size:20px;
      font-family:DINAlternate-Bold,DINAlternate;
      font-weight:bold;
      color:rgba(192,196,204,1);
      line-height:24px;
      font-style: normal;
    }
  .step .step_item .txt {
      display: none;
      font-size:18px;
      color:rgba(48,49,51,1);
      line-height:25px;
    }
  .step .line {
    margin-top: 9px;
    height:4px;
    background:rgba(245,245,245,1);
    border-radius:2px;
    width: 100%;
    position: relative;
  }
  .step .line::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height:4px;
      background:rgba(102,187,106,1);
      border-radius:2px
    }
.step.step1 .step_list .step_item:nth-child(1) .icon, .step.step2 .step_list .step_item:nth-child(2) .icon, .step.step3 .step_list .step_item:nth-child(3) .icon {
  width:26px;
  height:26px;
  background:rgba(102,187,106,1);
  border:1px solid rgba(102,187,106,1);
  font-size:20px;
  font-family:DINAlternate-Bold,DINAlternate;
  font-weight:bold;
  color:rgba(255,255,255,1);
  line-height:24px;
}
.step.step1 .step_list .step_item:nth-child(1){
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
.step.step1 .step_list .step_item:nth-child(1) .txt {
        display: block;
      }
.step.step1 .line::after {
      width: 33.33%;
    }
.step.step2 .step_list .step_item:nth-child(2){
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
.step.step2 .step_list .step_item:nth-child(2) .txt {
        display: block;
      }
.step.step2 .line::after {
      width: 66.66%;
    }
.step.step3 .step_list .step_item:nth-child(3){
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
.step.step3 .step_list .step_item:nth-child(3) .txt {
        display: block;
      }
.step.step3 .line::after {
      width: 99.99%;
    }
html, body {
  height: 100%;
  background-color: #fff;
}
.container {
  padding: 0 24px;
}
.tips {
  text-align: center;
  font-size:16px;
  color:rgba(144,147,153,1);
  line-height: 1.5;
}
.tips strong {
    color: #66BB6A;
    padding: 0 2px;
  }
.upload.z .pic .bg {
  background-image: url(../../image/auth/idcard-z.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.upload.f .pic .bg {
  background-image: url(../../image/auth/idcard-f.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.upload {
  margin-top: 18px;

}
.upload .tips {
    text-align: center;
    height:20px;
    line-height:20px;
    font-size:14px;
    color:rgba(96,98,102,1);
    margin-top: 8px;
  }
.upload .pic {
    width:240px;
    height:144px;
    background:rgba(255,255,255,1);
    border-radius:11px;
    border:2px dashed rgba(245,245,245,1);
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }
.upload .pic .bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width:218px;
      height:122px;
      border: 0;
      border-radius: 2px;
    }
.upload .pic img {
      display: block;
      -o-object-fit: cover;
         object-fit: cover;
      position: absolute;
      z-index: 1000;
      border: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width:218px;
      height:122px;
    }
.upload .pic .btn {
      position: absolute;
      z-index: 2000;
      border: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width:40px;
      height:40px;
      background-color:rgba(102,187,106,1);
      border-radius:20px;
      background-image: url(../../image/auth/take.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
.take-case .tit {
    height:20px;
    font-size:14px;
    color:rgba(144,147,153,1);
    line-height:20px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 16px;
  }
.take-case ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
.take-case ul li {
      margin: 0 4px;
    }
.take-case ul li img {
        width:80px;
        height:50px;
      }
.take-case ul li p {
        height:20px;
        font-size:14px;
        line-height:20px;
        margin-top: 9px;
        color:rgba(255,95,57,1);
        text-align: center;
      }
.take-case ul li:nth-child(1) p {
        color:rgba(102,187,106,1);
      }
.btn-box {
  padding: 30px 0;
}
