html, body {
  height: 100%;
  background-color: #fff;
}
.container {
  padding: 40px 30px;
}

.btn-box {
  margin-top: 50px;
}
h1 {
  margin: 0;
  font-size: 20px;
  color: #1dc4a2;
  line-height: 1;
}
section {
  margin-top: 30px;
  border-bottom: 1px solid #666;
  & h2 {
    color: #666;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    margin: 0;
  }
  & div {
    /*border: 1px solid #ededed;*/
    height: 40px;
  }
}
