<!doctype html>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" >
    <meta name="viewport"
      content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
    >
    <meta name="format-detection"
      content="telephone=no,email=no,date=no,address=no"
    >
    <link rel="stylesheet" type="text/css" href="../../css/api.css" >
    
  
  <link rel="stylesheet" href="./index.css"></head>
  <body>
    <div id="app">
      <section class="header">
        <p>根据您的资金需求，为您推荐以下产品</p>
        <p>立即开通，用款更便捷</p>
      </section>
      <div class="product-list">
        
        <div class="card" v-for="item in hxdData" :key="item.productId">
          <div class="title">{{item.productTitle}}</div>
          <div class="content">
            <div class="left">
              <span class="red">{{item.productTotalLimit}}<i>万元</i></span>
              <span class="grey">最高可申请</span>
            </div>
            <div class="center">
              <p class="grey">{{item.productSlogan}}</p>
              
            </div>
            <div class="right" @click="changePage(item)" v-if="item.creditStatus === 0">
              <button>立即开通</button>
            </div>
            <div class="right" @click="changePage(item)" v-if="item.creditStatus === 2">
              <p class="line">已开通</p>
            </div>
            <div class="right" @click="changePage(item)" v-if="item.creditStatus === 1">
              <p class="line">授信处理中</p>
            </div>
            <div class="right" v-if="item.creditStatus === 3">
              <p class="reject">已拒绝</p>
              <span class="grey">{{item.refusedReason}}</span>
            </div>
          </div>
        </div>
        
        
        

        

        

        

        

      </div>
    </div>

    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/vue.js"></script>
  
  <script src="./index.js"></script></body>
</html>
