html, body {
  background-color: #ebebeb;
}
ul {
  padding: 0 15px;
}
li {
  background: #fff;
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px;
}
.t {
  display: flex;
  align-items: center;
  & strong {
    flex-grow: 1;
    font-weight: normal;
    color: #1dc4a2;
  }
  & span {
    flex-shrink: 0;
    color: #aaa;
  }
}
.b {
  color: #aaa;
  padding-top: 5px;
}
