/* aui reset */
.aui-radio:checked, .aui-radio.aui-checked, .aui-checkbox:checked, .aui-checkbox.aui-checked {
  background-color: #1dc4a2 !important;
  border: solid 1px #1dc4a2 !important;
}
.aui-switch:checked {
  border-color: #1dc4a2 !important;
  background-color: #1dc4a2 !important;
}
/*1cb594 88dbcb 1aa689 5aae9c*/
/*页面头部*/
.app_header {
  background-color: #1dc4a2;
  position: relative;
}
.app_header div {
    width: 55px;
    height: 44px;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
.app_header div .aui-iconfont {
      color: #fff;
      font-weight: bold;
      font-size: 20px;
    }
.app_header div.active {
      background-color: #88dbcb;
    }
.app_header div:first-child {
    left: 0;
  }
.app_header div:last-child {
    right: 0;
  }
.app_header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 44px;
    padding: 0 44px;
  }
/*块状按钮*/
.app_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #1dc4a2;
  font-weight: bold;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}
.app_btn.sm {
    height: 44px;
    width: 100%;
    border-radius: 44px;
  }
.app_btn.active {
    background-color: #88dbcb;
  }
.app_btn.loading {
    background-color: #88dbcb;
  }
/*输入框组*/
.app_ipt_group {
  padding-top: 20px;
}
.app_ipt_group .item {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #ededed;
  }
.app_ipt_group .item .icon {
      width: 50px;
      height: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
.app_ipt_group .item .icon .aui-iconfont {
        font-size: 22px;
        color: #666;
      }
.app_ipt_group .item .icon .aui-icon-unlock:before {
        position: relative;
        left: 4px;
      }
.app_ipt_group .item .ipt {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 100%;
      position: relative;
      top: 2px;
      margin-right: 30px;
      /*color: #aaa;
      background-color: #eee;*/
    }
.app_ipt_group .item .btn {
      margin-left: 10px;
      padding-right: 4px;
      color: #333;
    }
.app_ipt_group .item .btn.active {
        color: #666;
        padding-right: 3px;
      }
.app_ipt_group .item .btn.loading {
        color: #666;
      }
/*连接按钮*/
.app_link_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #333;
}
.app_link_btn.active {
    color: #666;
    padding-left: 1px;
    padding-right: 0px;
  }
/*文字按钮*/
.app_text_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #1dc4a2;
}
.app_text_btn.active {
    color: #88dbcb;
    padding-left: 1px;
    padding-right: 0px;
  }
.app_agreement {
  text-align: center;
  color: #aaa;
  font-size: 15px;
}
.app_agreement label {
    display: inline;
  }
.app_agreement input {
    top: -2px;
  }
.app_agreement span {
    display: inline;
  }
.app_agreement strong {
    display: inline;
    color: #1dc4a2;
    font-weight: normal;
    padding-left: 0;
    padding-right: 1px;
  }
.app_agreement strong.active {
      padding-left: 1px;
      padding-right: 0;
    }

html, body {
  background-color: #efefef;
}
body {
  padding-bottom: 100px;
}
.bg {
  height: 110px;
  background:rgba(102,187,106,1);
}
.card {
  height:116px;
  background:rgba(255,255,255,1);
  -webkit-box-shadow:0px 4px 6px 0px rgba(162,177,163,0.1);
          box-shadow:0px 4px 6px 0px rgba(162,177,163,0.1);
  border-radius:0px 0px 6px 6px;
  margin: 0 12px;
  margin-top: -50px;
  padding-top: 28px;
  padding-left: 12px;
  border-radius: 0 0 6px 6px;
  position: relative;
}
.card:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:12px;
    background:-webkit-gradient(linear,left top, left bottom,from(rgba(102,187,106,0.4)),to(rgba(255,255,255,0)));
    background:linear-gradient(180deg,rgba(102,187,106,0.4) 0%,rgba(255,255,255,0) 100%);
  }
.card .txt {
    height:20px;
    font-size:14px;
    font-weight:500;
    color:rgba(48,49,51,1);
    line-height:20px;
  }
.card .num {
    margin-top: 5px;
    height:35px;
    font-size:30px;
    font-weight:bold;
    color:rgba(48,49,51,1);
    line-height:35px;
  }
.card-list {
  background:rgba(255,255,255,1);
  -webkit-box-shadow:0px 4px 6px 0px rgba(162,177,163,0.1);
          box-shadow:0px 4px 6px 0px rgba(162,177,163,0.1);
  border-radius:6px;
  margin: 12px;
  padding: 0 12px;
}
.card-list .card-item .card-header {
      border-bottom: 1px solid rgba(245,245,245,1);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 54px;
    }
.card-list .card-item .card-header span {
        height:22px;
        font-size:16px;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(48,49,51,1);
        line-height:22px;
      }
.card-list .card-item .card-body {
      padding-bottom: 20px;
    }
.card-list .card-item .card-body .card-body-item {
        display: block;
        width: 100%;
        margin-top: 12px;
      }
.card-list .card-item .card-body .card-body-item input {
          display: none;
        }
.card-list .card-item .card-body .card-body-item input:checked + .radio-box:after {
          background-image: url(../../image/danbaokaitong/checked2.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
.card-list .card-item .card-body .card-body-item .radio-box {
          width: 100%;
          height:80px;
          background:rgba(102,187,106,0.1);
          border-radius:6px;
          padding: 16px 12px;
          position: relative;
        }
.card-list .card-item .card-body .card-body-item .radio-box:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -8px;
            width: 16px;
            height: 16px;
            background-image: url(../../image/danbaokaitong/unchecked2.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
.card-list .card-item .card-body .card-body-item .radio-box .desc {
            height:22px;
            font-size:16px;
            font-weight:500;
            color:rgba(48,49,51,1);
            line-height:22px;
          }
.card-list .card-item .card-body .card-body-item .radio-box .tip {
            height:20px;
            font-size:14px;
            font-weight:500;
            color:rgba(102,187,106,1);
            line-height:20px;
            margin-top: 6px;
          }
.fixed-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  background: #fff;
}
.fixed-btn .btn {
    height:50px;
    background:rgba(102,187,106,1);
    border-radius:25px;
    font-size:16px;
    font-weight:500;
    color:rgba(255,255,255,1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
.fixed-btn .btn.active {
      background:rgba(102,187,106,0.7);
    }
