html, body {
  height: 100%;
  background-color: #fff;
  font-size: 16px;
}
.container {
  padding: 30px;
}
.tips {
  font-size: 15px;
  color: #aaa;
}
.radio-container {
  padding-bottom: 20px;
  margin-top: 10px;
  & label {
    margin-right: 20px;
  }
}
.qiye-name {
  display: none;
  margin-bottom: 10px;
  & p {
    font-size: 15px;
    color: #aaa;
  }
  & div {
    margin-top: 5px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    height: 80px;
  }
}

.agreement-box {
  margin-top: 40px;
}
.submit {
  margin-top: 20px;
}
