html, body {
  background-color: #fff;
}
.container {
  padding: 20px;
}

.pic {
  width: 200px;
  height: 250px;
  background-color: #eee;
  margin: 0 auto;
}

.tit {
  color: #1dc4a2;
  border-bottom: 1px solid #ededed;
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
  font-weight: bold;
}

ul {
  color: #8d9daa;
  margin-top: 10px;
  & li {
    height: 30px;
    line-height: 30px;
    & strong {
      color: #1dc4a2;
      font-weight: normal;
      padding: 0 2px;
    }
  }
}

.btn-box {
  margin-top: 40px;
}
.text-btn {
  margin-top: 20px;
  text-align: center;
}
