html, body {
  background-color: #ebebeb;
}
.nav {
  color: #aaa;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav .item span {
  padding: 10px 0;
  border-bottom: 2px solid #fff;
}
.nav .item.active span {
  color: #66BB6A;
  border-bottom: 2px solid #66BB6A;
}
