/* aui reset */
.aui-radio:checked,
.aui-radio.aui-checked,
.aui-checkbox:checked,
.aui-checkbox.aui-checked {
  background-color: #1dc4a2 !important;
  border: solid 1px #1dc4a2 !important;
}

.aui-switch:checked {
  border-color: #1dc4a2 !important;
  background-color: #1dc4a2 !important;
}

/*1cb594 88dbcb 1aa689 5aae9c*/

/*页面头部*/
.app_header {
  background-color: #1dc4a2;
  position: relative
}
.app_header div {
    width: 55px;
    height: 44px;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
  }
.app_header div .aui-iconfont {
      color: #fff;
      font-weight: bold;
      font-size: 20px;
    }
.app_header div.active {
      background-color: #88dbcb;
    }
.app_header div:first-child {
    left: 0;
  }
.app_header div:last-child {
    right: 0;
  }
.app_header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 44px;
    padding: 0 44px;
  }

/*块状按钮*/
.app_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #1dc4a2;
  font-weight: bold;
  height: 50px;
  border-radius: 50px;
  overflow: hidden
}
.app_btn.sm {
    height: 44px;
    width: 100%;
    border-radius: 44px;
  }
.app_btn.active {
    background-color: #88dbcb;
  }
.app_btn.loading {
    background-color: #88dbcb;
  }

/*输入框组*/
.app_ipt_group {
  padding-top: 20px
}
.app_ipt_group .item {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #ededed
  }
.app_ipt_group .item .icon {
      width: 50px;
      height: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center
    }
.app_ipt_group .item .icon .aui-iconfont {
        font-size: 22px;
        color: #666;
      }
.app_ipt_group .item .icon .aui-icon-unlock:before {
        position: relative;
        left: 4px;
      }
.app_ipt_group .item .ipt {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 100%;
      position: relative;
      top: 2px;
      margin-right: 30px;
      /*color: #aaa;
      background-color: #eee;*/
    }
.app_ipt_group .item .btn {
      margin-left: 10px;
      padding-right: 4px;
      color: #333
    }
.app_ipt_group .item .btn.active {
        color: #666;
        padding-right: 3px;
      }
.app_ipt_group .item .btn.loading {
        color: #666;
      }

/*连接按钮*/
.app_link_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #333
}
.app_link_btn.active {
    color: #666;
    padding-left: 1px;
    padding-right: 0px;
  }
/*文字按钮*/
.app_text_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #1dc4a2
}
.app_text_btn.active {
    color: #88dbcb;
    padding-left: 1px;
    padding-right: 0px;
  }

.app_agreement {
  text-align: center;
  color: #aaa;
  font-size: 15px
}

.app_agreement input {
    top: -2px;
  }

.app_agreement strong {
    color: #1dc4a2;
    font-weight: normal;
    padding-left: 0;
    padding-right: 1px
  }

.app_agreement strong.active {
      padding-left: 1px;
      padding-right: 0;
    }

.gt-page {
  min-height: 100vh;
  padding-bottom: 30px;
  position: relative;
}
.form-body {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  overflow: auto;
}
.form-body.folder {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.form-cell_shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-cell_shell.top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.form-cell_shell .fc_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  height: 50px;
}
.form-cell_shell .fc_span {
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #303133;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-cell_shell .fc_content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #F5F5F5;
}
.form-cell_shell .fc_content .fc_c_common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-cell_shell .fc_content .fc_c_common.bd {
  border-bottom: 1px solid #F5F5F5;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_input {
  font-size: 14px;
  padding: 0 10px;
  height: 50px;
  display: inline-block;
}
.form-cell_shell .fc_content .fc_c_common .fc_unit {
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #303133;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 0 10px;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_picker {
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_picker .placeholder {
  color: #c0c4cc;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_select .fc_c_option {
  padding: 6px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #303133;
  background: rgba(144, 147, 153, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_select .fc_c_option.active {
  background: #66bb6a;
  color: #ffffff;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_city {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_city .fc_c_city_label {
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #66bb6a;
  line-height: 20px;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_city .fc_c_city_label.selected {
  color: #000;
}
.form-cell_shell .fc_content .fc_c_common .fc_c_img {
  width: 50%;
}
.hidden {
  display: none;
}
.cl_c_submit_btn {
  max-width: 94%;
  height: 50px;
  line-height: 50px;
  margin: 50px auto;
  text-align: center;
  background: #66bb6a;
  border-radius: 25px;
  font-size: 16px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #ffffff;
}
html,
body {
  background-color: #efefef;
}
.cl-cell {
  margin: 12px 0;
  border-radius: 5px;
  background: #fff;
  padding: 21px 12px;
  position: relative;
}
.cl-cell .cl-cell_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cl-cell .cl-cell_box .cl-cell_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cl-cell .cl-cell_box .cl-cell_text .cl-cell_index {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  position: absolute;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  left: -15px;
  top: 30px;
  border: 1px solid #c0c4cc;
  font-size: 20px;
  font-family: DINAlternate-Bold, DINAlternate;
  font-weight: bold;
  color: #909399;
}
.cl-cell .cl-cell_box .cl-cell_text.next .cl-cell_index {
  color: #66bb6a;
  border: 1px solid #66bb6a;
}
.cl-cell .cl-cell_box .cl-cell_text.done .cl-cell_index {
  background: #66bb6a;
  border: none;
  color: #fff;
}
.cl-cell .cl-cell_box .cl-cell_text.done .clt_main {
  color: #66bb6a;
}
.cl-cell .cl-cell_box .cl-cell_text.done .clt_main .yes {
  display: block;
}
.cl-cell .cl-cell_box .cl-cell_text span {
  color: #999;
  font-size: 14px;
  display: block;
}
.cl-cell .cl-cell_box .cl-cell_text span.clt_main {
  margin-bottom: 9px;
  font-size: 16px;
  color: #303133;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cl-cell .cl-cell_box .cl-cell_text span.clt_main .yes {
  width: 16px;
  height: 14px;
  background: url(../../image/guarantee/complete-s.png) no-repeat;
  background-size: 100% 100%;
  display: none;
  margin-left: 5px;
}
.cl-cell .cl-cell_box .cl-cell_arrow {
  width: 16px;
  height: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  background: url(../../image/guarantee/form-arrow.png) no-repeat;
  background-size: 100% 100%;
}
.cl-cell .cl-cell_box .cl-cell_arrow.collapse {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.cl-cell .cl-cell_box .cl-cell_arrow.rotate {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
