<!doctype html>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" >
    <meta name="viewport"
      content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
    >
    <meta name="format-detection"
      content="telephone=no,email=no,date=no,address=no"
    >
    <link rel="stylesheet" type="text/css" href="../../css/api.css" >
    
  
  <link rel="stylesheet" href="./index.css"></head>
  <body>
    <div id="app">
      <section class="header">
        <p class="tips">验证码已发送至手机号</p>
        <p class="phone">134****0094</p>
        <div class="code">
          <input type="tel"
            class="r-ipt"
            v-model="smscode"
            @keyup="handleChange($event)"
          >
          <div class="cubes">
            <div class="item">{{smscode[0]}}</div>
            <div class="item">{{smscode[1]}}</div>
            <div class="item">{{smscode[2]}}</div>
            <div class="item">{{smscode[3]}}</div>
            <div class="item">{{smscode[4]}}</div>
            <div class="item">{{smscode[5]}}</div>
          </div>
        </div>
        <p v-if="isCounter" class="timer">{{count}}s后重新发送</p>
        <p v-else class="timer" @click="handleStartTimer">重新获取</p>
      </section>
      <div class="markup">
        <p class="p1 mg">没收到短信？</p>
        <p class="p2 mg">1.该手机号是否处于正常通行状态；</p>
        <p class="p2 mg">2.短信是否被手机安全软件拦截</p>
        <p class="p2 mg">
          如以上都无异常， 请联系您的业务员或客户经理。
           
        </p>
      </div>
      <div class="btn">确定</div>
    </div>

    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/vue.js"></script>
  
  <script src="./index.js"></script></body>
</html>
