html, body {
  background-color: #fff;
}
.container {
  padding: 5px 15px;
}
.title {
  font-size: 20px;
  color: #333;
}
.date {
  font-size: 14px;
  color: #aaa;
}
.content {
  color: #666;
  line-height: 1.5
}
.content span {
    color: #446bb1;
  }
