html, body {
  background-color: #f3f3f3;
}
.header {
  padding: 20px;
  padding-bottom: 0;
  & .date {
    color: #999;
    padding-bottom: 10px;
  }
  & .txt1 {
    color: #1dc4a2;
  }
  & .txt2 {
    font-weight: bold;
    font-size: 24px;
    color: #1dc4a2;
  }
  & .txt3 {
    margin-top: 10px;
    color: #999;
    font-size: 15px;
  }
}
ul {
  padding: 0 15px;
  padding-bottom: 15px;
}
li {
  background: #fff;
  border-radius: 5px;
  margin-top: 15px;
  padding: 15px;
}
.t {
  border-bottom: 1px solid #ebebeb;
  & .tit {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & .msg {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.b {
  font-size: 15px;
  margin-top: 10px;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
