* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input, textarea {
  outline: none;
  border: none;
}
[v-cloak] {
  display: none !important;
}
.app_list_loading, .app_list_nomore, .app_list_loadmore {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 15px;
  color: #999;
}
.app_list_nodata {
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  height: 300px;
}
.app_list_nodata .app_list_nodata_pic {
  background: url(../../image/default/empty.png) center no-repeat;
  background-size: 100%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.app_list_nodata .app_list_nodata_desc {
  font-size: 14px;
  color: #999;
  text-align: center;
  width: 100%;
}
/*块状按钮*/
.app_btn {
  height: 50px;
  background: #66bb6a;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app_btn.disabled {
  background: #dce0e8;
}
.app_btn.active {
  background-color: rgba(102, 187, 106, 0.75);
}
.app_btn.loading {
  background-color: rgba(102, 187, 106, 0.75);
}
.app_plain_btn {
  height: 50px;
  background: #ffffff;
  border-radius: 25px;
  border: 1px solid #66bb6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #66bb6a;
}
/*输入框组*/
.app_ipt_group {
  padding-top: 20px;
}
.app_ipt_group .item {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #eaeaea;
}
.app_ipt_group .item .icon {
  width: 50px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app_ipt_group .item .icon .aui-iconfont {
  font-size: 22px;
  color: #666;
}
.app_ipt_group .item .icon .aui-icon-unlock:before {
  position: relative;
  left: 4px;
}
.app_ipt_group .item .ipt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  position: relative;
  top: 2px;
  margin-right: 20px;
}
.app_ipt_group .item .ipt input {
  width: 100%;
  border: 0;
  outline: 0;
}
.app_ipt_group .item .btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 10px;
  padding-right: 4px;
  font-size: 16px;
  font-weight: normal;
  color: #66BB6A;
}
.app_ipt_group .item .btn.active {
  color: #909399;
  padding-right: 3px;
}
.app_ipt_group .item .btn.loading {
  color: #666;
}
.app_checkbox {
  width: 16px;
  height: 16px;
  line-height: 16px;
  border: 1px solid #c0c4cc;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-user-select: none;
}
.app_checkbox:checked {
  background-image: url(../../image/form/checked.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.app_agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.app_agreement label {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
}
.app_agreement .agreement_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 1px;
}
.app_agreement .agreement_content ul {
  display: inline;
}
.app_agreement .agreement_content ul li {
  display: inline;
}
.app_agreement .agreement_content strong {
  display: inline;
  font-size: 15px;
  font-weight: normal;
  color: #909399;
}
.app_agreement .agreement_content span {
  display: inline;
  font-size: 15px;
  font-weight: normal;
  color: #909399;
}
.app_agreement .agreement_content li {
  display: inline;
  font-size: 15px;
  font-weight: normal;
  color: #66BB6A;
  padding-left: 0;
  padding-right: 1px;
}
.app_agreement .agreement_content li.active {
  padding-left: 1px;
  padding-right: 0;
}
/*连接按钮*/
.app_link_btn {
  padding-left: 0;
  padding-right: 1px;
  font-size: 16px;
  color: #66bb6a;
}
.app_link_btn.active {
  padding-left: 1px;
  padding-right: 0px;
}
/*文字按钮*/
.app_text_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #66BB6A;
}
.app_text_btn.active {
  color: rgba(102, 187, 106, 0.75);
  padding-left: 1px;
  padding-right: 0px;
}

html, body {
  background: #F5F5F5;
}

.container {
  padding: 0 12px;
  padding-bottom: 100px;
}

.tips {
  padding-top: 12px;
  padding-bottom: 10px;
  font-size:16px;
  color:rgba(48,49,51,1);
  line-height:1.3;
}

.selcect-list .seclect-content {
    margin-bottom: 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border:2px solid rgba(255,255,255,1);
    background:rgba(255,255,255,1);
    -webkit-box-shadow:0px 4px 6px 0px rgba(162,177,163,0.1);
            box-shadow:0px 4px 6px 0px rgba(162,177,163,0.1);
    border-radius:6px;
  }

.selcect-list .seclect-content.selected {
      background:rgba(102,187,106,0.1);
      -webkit-box-shadow:0px 4px 6px 0px rgba(162,177,163,0.1);
              box-shadow:0px 4px 6px 0px rgba(162,177,163,0.1);
      border-radius:6px;
      border:2px solid rgba(102,187,106,1);
      position: relative;
    }

.selcect-list .seclect-content.selected::after {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 32px;
        height: 32px;
        background-image: url(../../image/form/checked.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

.seclect-content__top {
  padding: 12px 0;
  margin: 0 12px;
  border-bottom: 1px solid rgba(245,245,245,1);
}

.seclect-content__toprow {
  margin: 12px 0;
}

.seclect-content__toprow .key {
    width: 90px;
    margin-right: 10px;
    font-size:14px;
    color:rgba(144,147,153,1);
  }

.seclect-content__toprow .value {
    font-size:14px;
    font-weight:500;
    color:rgba(48,49,51,1);
  }

.seclect-content__bott {
  padding: 0 12px;
  padding-bottom: 5px;
}

.seclect-content__bottrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 14px 0;
}

.seclect-content__bottrow .key {
    font-size:14px;
    color:rgba(144,147,153,1);
  }

.seclect-content__bottrow .value {
    font-weight:500;
    font-size:16px;
    font-weight:500;
    color:rgba(102,187,106,1);
  }

.seclect-content__value--emphasize {
  color:rgba(245,166,35,1) !important;
}

.fixed-btn {
  padding: 15px 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}