<!doctype html>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" >
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no" >
    <link rel="stylesheet" type="text/css" href="../../css/api.css" >
  
  <link rel="stylesheet" href="./index.css"></head>
  <body>
    <div class="container" id="app">
      <div class="tips">今天新录入的合同要等明天才能看到哦</div>
      <div class="selcect-list">
        <list-item v-for="(item, index) in list" :key="index" :selected.sync="selected" :data="item"></list-item>
        

      </div>

      <section v-if="more === 'noData'" class="app_list_nodata">
        <div class="app_list_nodata_pic"></div>
        <p class="app_list_nodata_desc">暂时没有数据哦</p>
      </section>

      <div class="fixed-btn">
        <div :class="['app_btn', {disabled: !selected}]" @click="next">下一步</div>
      </div>

    </div>
    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/vue.js"></script>
  
  <script src="./index.js"></script></body>
</html>
