html, body {
  background-color: #fff;
  height: 100%;
}
.container {
  /*height: 100%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column
}
.container ul {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
.btn-box {
  padding: 30px;
  margin-top: 50px;
}
li.active {
  background-color: #ededed;
  position: relative;
  top: -1px;
}
li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 10px
}
li .icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #ddd;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
li .line-box {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 10px;
    margin-left: 10px;
    height: 54px;
    border-bottom: 1px solid #ededed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box
  }
li .line-box .text {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      font-size: 15px;
    }
li .line-box .msg {
      margin-right: 5px;
      font-size: 14px;
      color: #aaa;
    }
li .line-box .arrow {
      -ms-flex-negative: 0;
          flex-shrink: 0
    }
li .line-box .arrow i {
        font-weight: bold;
        color: #666;
      }
