.step {
  margin-top: 24px;
  margin-bottom: 8px;
  .step_list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .step_item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    transition: all .3s;
    cursor: pointer;
    &:last-child .icon {
      margin-right: 0;
    }
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width:26px;
      height:26px;
      border-radius: 50%;
      margin-right: 6px;
      background:rgba(255,255,255,1);
      border:1px solid rgba(192,196,204,1);
      font-size:20px;
      font-family:DINAlternate-Bold,DINAlternate;
      font-weight:bold;
      color:rgba(192,196,204,1);
      line-height:24px;
      font-style: normal;
    }
    .txt {
      display: none;
      font-size:18px;
      color:rgba(48,49,51,1);
      line-height:25px;
      padding-right: 6px;
      padding-left: 6px;
    }
  }
  .line {
    margin-top: 9px;
    height:4px;
    background:rgba(245,245,245,1);
    border-radius:2px;
    width: 100%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height:4px;
      background:rgba(102,187,106,1);
      border-radius:2px
    }
  }
}
@define-extend activeIcon {
  width:26px;
  height:26px;
  background:rgba(102,187,106,1);
  border:1px solid rgba(102,187,106,1);
  font-size:20px;
  font-family:DINAlternate-Bold,DINAlternate;
  font-weight:bold;
  color:rgba(255,255,255,1);
  line-height:24px;
}

.step .line::after {
  width: 100%;
}

.step_list .step_item {
  &.active {
    .icon {
      @extend activeIcon;
    }
    .txt {
      display: block;
    }
  }
  &:nth-child(3) {
    flex-grow: 1;
  }
}


html, body {
  background-color: #fff;
}
.container {
  padding: 0 24px;
}
.tips {
  padding: 5px 10px;
  background:rgba(102,187,106,0.1);
  border-radius:6px;
  font-size:14px;
  color:rgba(102,187,106,1);
  line-height:20px;
}
.tips2 {
  margin-top: 24px;
  & h2 {
    height:22px;
    font-size:16px;
    color:rgba(48,49,51,1);
    line-height:22px;
  }
  & div {
    font-size:12px;
    color:rgba(144,147,153,1);
    line-height:17px;
    margin-top: 4px;
    & span {
      color: #FF5F39;
    }
  }
}

.ipt-group {
  padding-top: 15px;
  & .item {
    border-bottom: 1px solid rgba(245,245,245,1);
    min-height: 50px;
    display: flex;
    align-items: center;
    & label {
      width: 88px;
      padding-top: 14px;
      padding-bottom: 14px;
      flex-shrink: 0;
      font-size:16px;
      color:rgba(48,49,51,1);
    }
    & div {
      flex-grow: 1;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 4px;
      display: flex;
      align-items: flex-start;
      display: flex;
      align-items: center;
      & input {
        /*border: 1px solid red;*/
        height: 24px;
      }
    }
  }
}

.app_agreement {
  margin-top: 15px;
}

.btn-box {
  padding: 12px 0;
  margin-top: 30px;
  .app_plain_btn {
    margin-bottom: 10px;
  }
}
