* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input, textarea {
  outline: none;
  border: none;
}
[v-cloak] {
  display: none !important;
}
.app_list_loading, .app_list_nomore, .app_list_loadmore {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 15px;
  color: #999;
}
.app_list_nodata {
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  height: 300px;
}
.app_list_nodata .app_list_nodata_pic {
  background: url(../../image/default/empty.png) center no-repeat;
  background-size: 100%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.app_list_nodata .app_list_nodata_desc {
  font-size: 14px;
  color: #999;
  text-align: center;
  width: 100%;
}
/*块状按钮*/
.app_btn {
  height: 50px;
  background: #66bb6a;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app_btn.disabled {
  background: #dce0e8;
}
.app_btn.active {
  background-color: rgba(102, 187, 106, 0.75);
}
.app_btn.loading {
  background-color: rgba(102, 187, 106, 0.75);
}
.app_plain_btn {
  height: 50px;
  background: #ffffff;
  border-radius: 25px;
  border: 1px solid #66bb6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #66bb6a;
}
/*输入框组*/
.app_ipt_group {
  padding-top: 20px;
}
.app_ipt_group .item {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #eaeaea;
}
.app_ipt_group .item .icon {
  width: 50px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app_ipt_group .item .icon .aui-iconfont {
  font-size: 22px;
  color: #666;
}
.app_ipt_group .item .icon .aui-icon-unlock:before {
  position: relative;
  left: 4px;
}
.app_ipt_group .item .ipt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  position: relative;
  top: 2px;
  margin-right: 20px;
}
.app_ipt_group .item .ipt input {
  width: 100%;
  border: 0;
  outline: 0;
}
.app_ipt_group .item .btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 10px;
  padding-right: 4px;
  font-size: 16px;
  font-weight: normal;
  color: #66BB6A;
}
.app_ipt_group .item .btn.active {
  color: #909399;
  padding-right: 3px;
}
.app_ipt_group .item .btn.loading {
  color: #666;
}
.app_checkbox {
  width: 16px;
  height: 16px;
  line-height: 16px;
  border: 1px solid #c0c4cc;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-user-select: none;
}
.app_checkbox:checked {
  background-image: url(../../image/form/checked.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.app_agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.app_agreement label {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
}
.app_agreement .agreement_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 1px;
}
.app_agreement .agreement_content ul {
  display: inline;
}
.app_agreement .agreement_content ul li {
  display: inline;
}
.app_agreement .agreement_content strong {
  display: inline;
  font-size: 15px;
  font-weight: normal;
  color: #909399;
}
.app_agreement .agreement_content span {
  display: inline;
  font-size: 15px;
  font-weight: normal;
  color: #909399;
}
.app_agreement .agreement_content li {
  display: inline;
  font-size: 15px;
  font-weight: normal;
  color: #66BB6A;
  padding-left: 0;
  padding-right: 1px;
}
.app_agreement .agreement_content li.active {
  padding-left: 1px;
  padding-right: 0;
}
/*连接按钮*/
.app_link_btn {
  padding-left: 0;
  padding-right: 1px;
  font-size: 16px;
  color: #66bb6a;
}
.app_link_btn.active {
  padding-left: 1px;
  padding-right: 0px;
}
/*文字按钮*/
.app_text_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #66BB6A;
}
.app_text_btn.active {
  color: rgba(102, 187, 106, 0.75);
  padding-left: 1px;
  padding-right: 0px;
}

.container {
  background-color: #fff;
}
.header {
  height: 56px;
  position: relative;
  text-align: center;
  line-height: 56px;
  font-size:16px;
  color:rgba(96,98,102,1);
  border-bottom: 1px solid rgba(245,245,245,1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 12px;
}
.tips {
  font-size:18px;
  color:rgba(48,49,51,1);
  border-bottom: 1px solid rgba(245,245,245,1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 52px;
  line-height: 52px;
  margin: 0 12px;
}
.app_list_loading {
  padding-top: 100px;
  padding-bottom: 200px;
}
.list {
  margin: 0;
  padding: 0 12px;
  height: 450px;
  overflow-y: scroll;
}
.list-item {
  padding: 16px 0;
  border-bottom: 1px solid rgba(245,245,245,1);
}
.list-item:last-child {
    border-bottom: 0;
  }
.list-item .item-row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
.list-item .item-row1 .item-stage {
      height:22px;
      font-size:16px;
      color:rgba(48,49,51,1);
      -ms-flex-negative: 0;
          flex-shrink: 0;
      margin-right: 10px;
    }
.list-item .item-row1 .item-tag {
      width:60px;
      height:16px;
      line-height: 16px;
      text-align: center;
      background:rgba(238,83,84,0.1);
      border-radius:2px;
      border:1px solid rgba(238,83,84,1);
      -ms-flex-negative: 0;
          flex-shrink: 0;
      font-size:10px;
      font-family:PingFang-SC-Medium,PingFang-SC;
      font-weight:500;
      color:rgba(238,83,84,1);
    }
.list-item .item-row1 .item-num {
      height:22px;
      font-size:16px;
      color:rgba(48,49,51,1);
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      text-align: right;
    }
.list-item .item-row2 {
    margin-top: 2px;
    text-align: right;
  }
.list-item .item-row2 span {
      height:20px;
      font-size:14px;
      color:rgba(144,147,153,1);
      line-height:20px;
      display: inline-block;
      vertical-align: middle;
    }
.list-item .item-row2 .item-divide {
      display: inline-block;
      vertical-align: middle;
      width:1px;
      height:18px;
      background:rgba(245,245,245,1);
      margin: 0 8px;
    }
.list-item .item-row3 {
    margin-top: 2px;
    height:20px;
    font-size:14px;
    color:rgba(144,147,153,1);
    line-height:20px;
    text-align: right;
  }
html, body {
  background-color: rgba(0,0,0,0);
}

.full-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0,0,0,0.7);
}

.full-mask .drawer {
    width: 100%;
    height: auto;
    min-height: 300px;
    background-color: #fff;
    position: relative;
  }

.full-mask .drawer .drawer-close {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 20px;
      height: 20px;
    }

.full-mask .drawer .drawer-close::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 1px;
        height: 16px;
        background-color: #aaa;
        -webkit-transform: translateX(10px) rotateZ(45deg);
                transform: translateX(10px) rotateZ(45deg);
        -webkit-transform-origin: center;
                transform-origin: center;
      }

.full-mask .drawer .drawer-close::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 1px;
        height: 16px;
        background-color: #aaa;
        -webkit-transform: translateX(10px) rotateZ(-45deg);
                transform: translateX(10px) rotateZ(-45deg);
        -webkit-transform-origin: center;
                transform-origin: center;
      }

.full-mask .drawer .dialog-content {
      min-height: 100px;
    }


