.container {
  padding: 10px 20px;
}
.btn-box {
  margin-top: 70px;
}
.tips {
  background: #e7eff4;
  line-height: 1.5;
  padding: 12px 15px;
  font-size: 16px;
  color: #8d9daa;
  & strong {
    color: #1dc4a2;
    padding: 0 2px;
  }
}

.upload.active .inner {
  border: 1px solid #88dbcb;
}
.upload {
  width: 230px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  & .bg {
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 100px;
    font-size: 15px;
    color: #666;
    width: 100%;
    height: 100%;
  }
  & img {
    display: block;
    object-fit: cover;
    position: absolute;
    z-index: 1000;
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  & .inner {
    border-radius: 3px;
    position: absolute;
    z-index: 2000;
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #f5f5f5;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../image/auth/upload.png);
    background-size: 80% auto;
  }
}
.tit {
  color: #1dc4a2;
  border-bottom: 1px solid #ededed;
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
  font-weight: bold;
}

ul {
  color: #8d9daa;
  margin-top: 10px;
  & li {
    height: 30px;
    line-height: 30px;
    & strong {
      color: #1dc4a2;
      font-weight: normal;
      padding: 0 2px;
    }
  }
}
