html, body {
  background-color: #fff;
}
.top {
  height: 120px;
  background: #1dc4a2;
  padding-left: 30px;
  color: #fff;
  border-top: 1px solid #88dbcb;
  & .name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
  }
  & .tel {
    font-size: 18px;
  }
}

li.active {
  background-color: #ededed;
  position: relative;
  top: -1px;
}
li {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  & .icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #ddd;
    flex-shrink: 0;
  }
  & .line-box {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-right: 10px;
    margin-left: 10px;
    height: 54px;
    border-bottom: 1px solid #ededed;
    box-sizing: border-box;
    & .text {
      flex-grow: 1;
      font-size: 15px;
    }
    & .msg {
      margin-right: 5px;
      font-size: 14px;
      color: #aaa;
    }
    & .arrow {
      flex-shrink: 0;
      & i {
        font-weight: bold;
        color: #666;
      }
    }
  }
}
