<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <link rel="stylesheet" type="text/css" href="../../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
</head>
<body>
  <div id="app">
    <div class="top">
      <div class="name" id="name">***</div>
      <div class="tel" id="type">***</div>
      <div class="tel" id="tel">****</div>
    </div>
    <section class="tab_my-main">
      <ul class="tm-main-ul">
        <li tapmode="active" v-for="(item, index) in menuArr" :key="item.icon" @click="changePage(index)">
          <div class="icon" :class="item.icon"></div>
          <div class="line-box">
            <div class="text ">{{item.title}}</div>
            <div class="msg" id="msgcount" v-if="item.title === '消息中心'"></div>
            <div class="msg" id="prodopencount" v-if="item.title === '已开通的产品'"></div>
            <div class="arrow">
              <i class="aui-iconfont aui-icon-right"></i>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>
  <script type="text/javascript" src="../../script/api.js"></script>
  <script type="text/javascript" src="../../script/vue.js"></script>
</body>
</html>
