html, body {
  background-color: #efefef;
}
.title {
  padding: 30px;
  background-color: #1e294b;
  color: #fff;
}

.btn {
  color: #1dc4a2;
}

.plan {
  margin: 10px;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .tit {
    font-size: 15px;
    color: #222;
  }
  & .txt {
    font-size: 13px;
    color: #888;
    flex-grow: 1;
  }
}
