.step {
  margin-top: 24px;
  margin-bottom: 16px;
  .step_list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .step_item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    transition: all .3s;
    cursor: pointer;
    &:last-child .icon {
      margin-right: 0;
    }
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width:26px;
      height:26px;
      border-radius: 50%;
      margin-right: 6px;
      background:rgba(255,255,255,1);
      border:1px solid rgba(192,196,204,1);
      font-size:20px;
      font-family:DINAlternate-Bold,DINAlternate;
      font-weight:bold;
      color:rgba(192,196,204,1);
      line-height:24px;
      font-style: normal;
    }
    .txt {
      display: none;
      font-size:18px;
      color:rgba(48,49,51,1);
      line-height:25px;
      padding-right: 6px;
    }
  }
  .line {
    margin-top: 9px;
    height:4px;
    background:rgba(245,245,245,1);
    border-radius:2px;
    width: 100%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height:4px;
      background:rgba(102,187,106,1);
      border-radius:2px
    }
  }
}
@define-extend activeIcon {
  width:26px;
  height:26px;
  background:rgba(102,187,106,1);
  border:1px solid rgba(102,187,106,1);
  font-size:20px;
  font-family:DINAlternate-Bold,DINAlternate;
  font-weight:bold;
  color:rgba(255,255,255,1);
  line-height:24px;
}
.step_list .step_item {
  &.active {
    .icon {
      @extend activeIcon;
    }
    .txt {
      display: block;
    }
  }
  &:nth-child(2) {
    flex-grow: 1;
  }
}

.step .line::after {
  width: calc(33.33% * 2);
}

html, body {
  height: 100%;
  background-color: #fff;
}
.container {
  padding: 0 24px;
}

.tips {
  text-align: center;
  font-size:16px;
  color:rgba(144,147,153,1);
  line-height: 1.5;
  & strong {
    color: #66BB6A;
    padding: 0 2px;
  }
}

.upload.z .pic .bg {
  background-image: url(../../image/auth/idcard-z.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.upload.f .pic .bg {
  background-image: url(../../image/auth/idcard-f.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.upload {
  margin-top: 18px;
  & .tips {
    text-align: center;
    height:20px;
    line-height:20px;
    font-size:14px;
    color:rgba(96,98,102,1);
    margin-top: 8px;
  }
  & .pic {
    width:240px;
    height:144px;
    background:rgba(255,255,255,1);
    border-radius:11px;
    border:2px dashed rgba(245,245,245,1);
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    & .bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width:218px;
      height:122px;
      border: 0;
      border-radius: 2px;
    }
    & img {
      display: block;
      object-fit: cover;
      position: absolute;
      z-index: 1000;
      border: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width:218px;
      height:122px;
    }
    & .btn {
      position: absolute;
      z-index: 2000;
      border: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width:40px;
      height:40px;
      background-color:rgba(102,187,106,1);
      border-radius:20px;
      background-image: url(../../image/auth/take-2.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

}
.take-case {
  .tit {
    height:20px;
    font-size:14px;
    color:rgba(144,147,153,1);
    line-height:20px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 16px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin: 0 4px;
      img {
        width:80px;
        height:50px;
      }
      p {
        height:20px;
        font-size:14px;
        line-height:20px;
        margin-top: 9px;
        color:rgba(255,95,57,1);
        text-align: center;
      }
      &:nth-child(1) p {
        color:rgba(102,187,106,1);
      }
    }
  }
}

.btn-box {
  padding: 30px 0;
}
