input, textarea {
  outline: 0;
}
/*块状按钮*/
.app_btn {
  height: 50px;
  background: #66bb6a;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app_btn.disabled {
  background: #dce0e8;
}
.app_btn.active {
  background-color: rgba(102, 187, 106, 0.75);
}
.app_btn.loading {
  background-color: rgba(102, 187, 106, 0.75);
}
.app_plain_btn {
  height: 50px;
  background: #ffffff;
  border-radius: 25px;
  border: 1px solid #66bb6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #66bb6a;
}
/*输入框组*/
.app_ipt_group {
  padding-top: 20px;
}
.app_ipt_group .item {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #eaeaea;
}
.app_ipt_group .item .icon {
  width: 50px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app_ipt_group .item .icon .aui-iconfont {
  font-size: 22px;
  color: #666;
}
.app_ipt_group .item .icon .aui-icon-unlock:before {
  position: relative;
  left: 4px;
}
.app_ipt_group .item .ipt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  position: relative;
  top: 2px;
  margin-right: 20px;
}
.app_ipt_group .item .ipt input {
  width: 100%;
  border: 0;
  outline: 0;
}
.app_ipt_group .item .btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 10px;
  padding-right: 4px;
  font-size: 16px;
  font-weight: normal;
  color: #66BB6A;
}
.app_ipt_group .item .btn.active {
  color: #909399;
  padding-right: 3px;
}
.app_ipt_group .item .btn.loading {
  color: #666;
}
.app_checkbox {
  width: 16px;
  height: 16px;
  line-height: 16px;
  border: 1px solid #c0c4cc;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-user-select: none;
}
.app_checkbox:checked {
  background-image: url(../../image/form/checked.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.app_agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.app_agreement label {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
}
.app_agreement .agreement_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 1px;
}
.app_agreement .agreement_content ul {
  display: inline;
}
.app_agreement .agreement_content ul li {
  display: inline;
}
.app_agreement .agreement_content strong {
  display: inline;
  font-size: 15px;
  font-weight: normal;
  color: #909399;
}
.app_agreement .agreement_content span {
  display: inline;
  font-size: 15px;
  font-weight: normal;
  color: #909399;
}
.app_agreement .agreement_content li {
  display: inline;
  font-size: 15px;
  font-weight: normal;
  color: #66BB6A;
  padding-left: 0;
  padding-right: 1px;
}
.app_agreement .agreement_content li.active {
  padding-left: 1px;
  padding-right: 0;
}
/*连接按钮*/
.app_link_btn {
  padding-left: 0;
  padding-right: 1px;
  font-size: 16px;
  color: #66bb6a;
}
.app_link_btn.active {
  padding-left: 1px;
  padding-right: 0px;
}
/*文字按钮*/
.app_text_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #66BB6A;
}
.app_text_btn.active {
  color: rgba(102, 187, 106, 0.75);
  padding-left: 1px;
  padding-right: 0px;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  background-color: #f5f5f5;
}

.result {
  height:98px;
  background:rgba(255,255,255,1);
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-icon {
  width: 34px;
  height: 34px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #eee;
}

.result-txt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 16px;
}

.result-txt strong {
    display: block;
    height:22px;
    font-size:16px;
    font-weight:500;
    color:rgba(48,49,51,1);
    line-height:22px;
  }

.result-txt span {
    display: block;
    margin-top: 6px;
    height:22px;
    font-size:16px;
    color:rgba(144,147,153,1);
    line-height:22px;
  }

.detail {
  padding: 0 12px;
  background-color: #fff;
  margin-top: 12px;
}

.detail-head {
  border-bottom: 1px solid rgba(245,245,245,1);
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detail-head strong {
    height:28px;
    font-size:24px;
    font-weight:bold;
    color:rgba(48,49,51,1);
    line-height:28px;
    display: block;
  }

.detail-head span {
    display: block;
    height:20px;
    font-size:14px;
    color:rgba(144,147,153,1);
    line-height:20px;
    margin-top: 6px;
  }

.detail-main {
  padding-top: 1px;
  padding-bottom: 10px;
}

.detail-row {
  margin: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-row span {
    height:20px;
    font-size:15px;
    color:rgba(144,147,153,1);
    line-height:20px;
  }

.detail-row strong {
    height:20px;
    font-size:15px;
    color:rgba(48,49,51,1);
    line-height:20px;
    font-style: normal;
    font-weight: normal;
  }

.listgroup {
  margin-top: 12px;
  background-color: #fff;
}

.listgroup-item {
  height:50px;
  padding-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background:rgba(255,255,255,1);
  position: relative;
  font-size:16px;
  color:rgba(48,49,51,1);
  border-bottom: 1px solid rgba(245,245,245,1);
}

.listgroup-item:last-child {
    border-bottom: 0;
  }

.listgroup-item::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 12px;
    margin-top: auto;
    margin-bottom: auto;
    background-image: url(../../image/arrow-r.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.tips {
  padding: 40px 0;
  font-size:14px;
  color:rgba(192,196,204,1);
  text-align: center;
}

.fixed-btn {
  padding: 15px 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}