html, body {
  background-color: #fff;
}

ul {
  padding: 15px;
}
li {
  padding: 10px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.r {
  text-align: right;
}

.txt1 {
  color: #333;
}
.txt2 {
  font-size: 15px;
  color: #999;
}
.txt3 {
  color: orange;
  font-size: 15px;
  font-weight: normal;
}
