<!-- 好销贷用款确认-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
    />
    <meta
      name="format-detection"
      content="telephone=no,email=no,date=no,address=no"
    />
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
  </head>
  <body>
    <div id="app">
      <div class="pd">
        <div class="header">
          <p class="label">用款金额</p>
          <p class="num">120,000.00</p>
        </div>
        <div class="main">
          <div class="total">共{{2}}笔入库单</div>
          <ul class="list">
            <li
              class="cell"
              v-for="(item, index) in (isFolder ? [orders[0]] : orders)"
              :key="item.orderId"
            >
              <div class="l">{{index}}</div>
              <div class="r">
                <div class="title">{{item.title}}</div>
                <div class="num">
                  <div class="can">
                    <div class="lb">可用金额</div>
                    <div class="n">{{item.can}}</div>
                  </div>
                  <div class="can left">
                    <div class="lb">金额</div>
                    <div class="n">{{item.left}}</div>
                  </div>
                </div>
                <div class="date">
                  下单日期:
                  <span>{{item.date}}</span>
                </div>
                <div class="orderId">入库单编号: {{item.orderId}}</div>
              </div>
            </li>
          </ul>
          <div class="footer" @click="handleFolder">
            {{!isFolder ? '收起' : '展开'}}
          </div>
        </div>
        <div class="repay-b">
          <div class="item">
            <span class="k">还款方式</span>
            <span class="v">到期一次性还本付息</span>
          </div>
          <div class="item">
            <span class="k">还款计划试算</span>
            <span class="v">
              <i class="aui-iconfont aui-icon-right"></i>
            </span>
          </div>
        </div>
        <div class="app_agreement">
          <label>
            <input
              class="app_checkbox"
              type="checkbox"
              id="checkbox"
              name="type"
            />
          </label>
          <div class="agreement_content">
            <span>已阅读并同意</span>
            <span class="ac" v-for="item in agreements" :key="item.id"
              >《{{item.title}}》</span
            >
          </div>
        </div>
      </div>
      <div class="bottom-box">
        <div class="btn btn-normal">用款确认</div>
      </div>
    </div>

    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/vue.js"></script>
  </body>
</html>
