html, body {
  background-color: #fff;
}
.top {
  height: 120px;
  background: #1dc4a2;
  padding-left: 30px;
  color: #fff;
  border-top: 1px solid #88dbcb
}
.top .name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 35px;
  }
.top .tel {
    font-size: 18px;
  }

li.active {
  background-color: #ededed;
  position: relative;
  top: -1px;
}
li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 10px
}
li .icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #ddd;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
li .line-box {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 10px;
    margin-left: 10px;
    height: 54px;
    border-bottom: 1px solid #ededed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box
  }
li .line-box .text {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      font-size: 15px;
    }
li .line-box .msg {
      margin-right: 5px;
      font-size: 14px;
      color: #aaa;
    }
li .line-box .arrow {
      -ms-flex-negative: 0;
          flex-shrink: 0
    }
li .line-box .arrow i {
        font-weight: bold;
        color: #666;
      }
