<!-- 我的贷款-好销宝详情 -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <link rel="stylesheet" type="text/css" href="../../css/api.css" />
</head>
<body>
  <section id="app" v-cloak>
    <section class="header">
      <div v-if="[1, 2, 3, 4, 6, 7, 9, 10, 11, 12].includes(data.orderStatus)" class="header-num">
        <span>订单金额(元)</span>
        <strong>{{data.loanAmount ? numeral(data.loanAmount).format('0,0.00') : ''}}</strong>
      </div>
      <div v-else class="header-num">
        <span>剩余未还本金(元)</span>
        <strong style="color: #303133;">{{data.repayPrincipalAmount ? numeral(data.repayPrincipalAmount).format('0,0.00') : '0'}}</strong>
      </div>
      <div v-if="data.orderStatus" :class="['header-status', statusMapping[data.orderStatus] || '']">{{mapping[data.orderStatus] || ''}}</div>
    </section>
  
    <section class="content">
      <div class="plan" v-if="[5, 6, 7, 8, 9].includes(data.orderStatus)">
        <div class="plan-tit">还款计划 <em style="color: #909399;">(剩余{{data.leftRepayTimes}}期未还清)</em></div>
        <!-- <div class="plan-desc">（剩余5期未还清）</div> -->
        <div class="plan-btn arrowbtn" @click="openPlan()">查看</div>
      </div>
  
      <div class="card" v-if="[5, 6, 7, 8, 9].includes(data.orderStatus)">
        <div class="card-head">用款明细</div>
        <div class="card-row">
          <span class="card-label">贷款金额(元)</span>
          <strong class="card-value__lg">{{data.loanAmount ? numeral(data.loanAmount).format('0,0.00') : ''}}</strong>
        </div>
        <div class="card-block">
          <p><span>用款时间</span><strong>{{data.lendDate}}</strong></p>
          <p><span>还款方式</span><strong>{{duebillTypeObj[data.repayType]}}</strong></p>
          <p><span>使用产品</span><strong>{{data.proName}}</strong></p>
        </div>
        <div class="card-row" v-if="data.signContractId">
          <span class="card-label">合 同</span>
          <span @click="openLoanContract()" class="card-btn arrowbtn">查看</span>
        </div>
      </div>
  
      <div class="card" v-if="[5, 6, 7, 8, 9].includes(data.orderStatus)">
        <div class="card-head">还款明细</div>
        <div class="card-row">
          <span class="card-label">已还总额(元)</span>
          <strong class="card-value__lg">{{data.repaidTotalAmount}}</strong>
        </div>
        <div class="card-block">
          <p><span>已还本金(元)</span><strong>{{data.repaidPrincipalAmount}}</strong></p>
          <p><span>已还利息(元)</span><strong>{{data.repaidInterestAmount}}</strong></p>
          <p v-if="data.orderStatus === 8"><span>已还逾期罚息(元)</span><strong>{{data.repaidPenaltyAmount}}</strong></p>
        </div>
        <div class="card-row">
          <span class="card-label">还款记录</span>
          <span class="card-btn arrowbtn" @click="openRecord()">查看</span>
        </div>
      </div>
  
      <div class="card" v-if="data.orderId">
        <div class="card-head">关联入库单</div>
        <div class="card-block">
          <h3 style="font-size: 16px;margin-bottom: 10px;">{{data.buyCustName}}</h3>
          <p><span>金额(元)</span></p>
          <p><span style="font-size: 20px !important;">{{data.amount ? numeral(data.amount).format('0,0.00') : ''}}</span></p>
          <p><span>下单日期:</span><strong style="text-align: left;">{{data.wareOrderTime}}</strong></p>
          <p><span>入库单编号:</span><strong style="text-align: left;">{{data.expWarehouseOrderNo}}</strong></p>
        </div>
      </div>
  
    </section>
  </section>

  <script type="text/javascript" src="../../script/api.js"></script>
  <script type="text/javascript" src="../../script/vue.js"></script>
</body>
</html>
