html, body {
  background:rgba(245,245,245,1);
}
.tit {
  margin-top: 20px;
  padding-left: 20px;
  //color: #888;
  //font-size: 14px;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(144,147,153,1);
}

ul {
  padding: 15px;
  padding-top: 0;
}
li {
  margin-top: 15px;
  padding: 0 15px;
  padding-bottom: 15px;
  background: #fff;
  border-radius: 5px;
}

.row1 {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size:16px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(48,49,51,1);
}
.row2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  margin-top: 8px;
  font-size:14px;
  font-family:PingFang-SC-Medium,PingFang-SC;
  font-weight:500;
  color:rgba(144,147,153,1);
  padding: 4px 0;
  span {
    //font-size: 15px;
    //color: #999;
  }
}
