html, body {
  background-color: #efefef;
}
.title {
  padding: 30px;
  background-color: #1e294b;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
ul {
  padding: 13px;
  padding-top: 0;
  margin: 0;
}
li {
  background: #fff;
  padding: 10px 14px;
  margin-top: 15px;
  border-radius: 3px;
}
.def_place-img-box {
  background: none;
  margin: 0 auto;
  border: none;
  margin-top: 100px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.place-img {
  background: url(../../image/default/empty.png) center no-repeat;
  background-size: 100%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.place-tip {
  font-size: 14px;
  color: #999;
  text-align: center;
  width: 100%;
}
.row1 {
  color: #999;
  font-size: 15px;
  padding-top: 2px;
}

.row2 {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  & span {
    font-weight: bold;
  }
  & strong {
    flex-grow: 1;
    color: orange;
    margin-left: 10px;
    margin-right: 10px;
  }
  & .btn {
    background: #1dc4a2;
    color: #fff;
    height: 30px;
    border: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 4px;
    line-height: 1;
    font-size: 14px;
    &.active {
      background: #88dbcb;
    }
  }
}
.row3 {
  font-size: 15px;
  color: #999;
  padding: 6px 0;
}
.row4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .btn2 {
    color: #1dc4a2;
    &.active {
      color: #88dbcb;
    }
  }
  & .date {
    font-size: 15px;
    color: #999;
  }
}
i {
  font-style: normal;
}
