html, body {
  background-color: #efefef;
}
.tit {
  margin-top: 20px;
  padding-left: 20px;
  color: #888;
  font-size: 14px;
}

ul {
  padding: 10px;
  padding-top: 0;
}
li {
  margin-top: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}

.row1 {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & span {
    font-size: 14px;
    color: #666;
  }
}
