/* aui reset */
.aui-radio:checked, .aui-radio.aui-checked, .aui-checkbox:checked, .aui-checkbox.aui-checked {
  background-color: #66BB6A !important;
  border: solid 1px #66BB6A !important;
}
.aui-switch:checked {
  border-color: #66BB6A !important;
  background-color: #66BB6A !important;
}
/*1cb594 88dbcb 1aa689 5aae9c*/
/*页面头部*/
.app_header.white {
  background-color: #fff;
}
.app_header {
  background-color: #66BB6A;
  position: relative;
}
.app_header div {
    width: 55px;
    height: 44px;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
.app_header div .aui-iconfont {
      color: #fff;
      font-weight: bold;
      font-size: 20px;
    }
.app_header div.active {
      background-color: #88dbcb;
    }
.app_header div:first-child {
    left: 0;
  }
.app_header div:last-child {
    right: 0;
  }
.app_header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 44px;
    padding: 0 44px;
  }
/*块状按钮*/
.app_btn {
  height:50px;
  background:rgba(102,187,106,1);
  border-radius:25px;
  font-size:16px;
  font-weight:500;
  color:rgba(255,255,255,1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app_btn.active {
    background-color: rgba(102, 187, 106, 0.75);
  }
.app_btn.loading {
    background-color: rgba(102, 187, 106, 0.75);
  }
.app_plain_btn {
  height:50px;
  background:rgba(255,255,255,1);
  border-radius:25px;
  border:1px solid rgba(102,187,106,1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size:16px;
  font-weight:500;
  color:rgba(102,187,106,1);
}
.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.tab label input {
      display: none;
    }
.tab label span {
      height:42px;
      line-height:42px;
      font-size:16px;
      font-weight:500;
      color: #303133;
      font-weight: normal;
      border-bottom: 4px solid #fff;
    }
.tab label input:checked + span {
      color: #66BB6A;
      border-bottom: 4px solid rgba(102,187,106,1);
    }
/*输入框组*/
.app_ipt_group {
  padding-top: 20px;
}
.app_ipt_group .item {
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid rgba(234,234,234,1);
  }
.app_ipt_group .item .icon {
      width: 50px;
      height: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
.app_ipt_group .item .icon .aui-iconfont {
        font-size: 22px;
        color: #666;
      }
.app_ipt_group .item .icon .aui-icon-unlock:before {
        position: relative;
        left: 4px;
      }
.app_ipt_group .item .ipt {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 100%;
      position: relative;
      top: 2px;
      margin-right: 20px;
    }
.app_ipt_group .item .ipt input {
        width: 100%;
        border: 0;
        outline: 0;
      }
.app_ipt_group .item .btn {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      margin-left: 10px;
      padding-right: 4px;
      font-size:16px;
      font-weight: normal;
      color: #66BB6A;
    }
.app_ipt_group .item .btn.active {
        color:rgba(144,147,153,1);
        padding-right: 3px;
      }
.app_ipt_group .item .btn.loading {
        color: #666;
      }
.app_checkbox {
  width:16px;
  height:16px;
  line-height: 16px;
  border: 1px solid rgba(192,196,204,1);
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-user-select: none;
}
.app_checkbox:checked {
    background-image: url(../../image/form/checked.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
.app_agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

}
.app_agreement label {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 10px;
  }
.app_agreement .agreement_content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-top: 1px;
  }
.app_agreement .agreement_content ul {
      display: inline;
    }
.app_agreement .agreement_content ul li {
        display: inline;
      }
.app_agreement .agreement_content strong {
      display: inline;
      font-size:15px;
      font-weight:normal;
      color:rgba(144,147,153,1);
    }
.app_agreement .agreement_content span {
      display: inline;
      font-size:15px;
      font-weight:normal;
      color:rgba(144,147,153,1);
    }
.app_agreement .agreement_content li {
      display: inline;
      font-size:15px;
      font-weight: normal;
      color: #66BB6A;
      padding-left: 0;
      padding-right: 1px;
    }
.app_agreement .agreement_content li.active {
        padding-left: 1px;
        padding-right: 0;
      }
/*连接按钮*/
.app_link_btn {
  padding-left: 0;
  padding-right: 1px;
  font-size:16px;
  color:rgba(102,187,106,1);
}
.app_link_btn.active {
    padding-left: 1px;
    padding-right: 0px;
  }
/*文字按钮*/
.app_text_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #66BB6A;
}
.app_text_btn.active {
    color: rgba(102, 187, 106, 0.75);
    padding-left: 1px;
    padding-right: 0px;
  }

html, body {
  background: #f5f5f5;
}
.tips {
  font-size: 20px;
  color: #303133;
  text-align: center;
  padding-top: 10px;
  height: 80px;
  line-height: 80px;
  background: #fff;
}
.tips strong {
  color: #66BB6A;
  padding: 0 4px;
}
.container {
  padding: 12px;
}
.auth-block {
  width: 100%;
  position: relative;
  margin-bottom: 12px;
}
.auth-block .badge {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  margin: auto 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #c0c4cc;
  font-size: 20px;
  font-weight: bold;
  color: #909399;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.auth-block .content {
  position: relative;
  height: 88px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(162, 177, 163, 0.1);
          box-shadow: 0px 4px 6px 0px rgba(162, 177, 163, 0.1);
  border-radius: 6px;
  margin-left: 15px;
  padding-left: 35px;
}
.auth-block .content strong {
  height: 25px;
  line-height: 25px;
  margin-top: 17px;
  font-size: 18px;
  font-weight: 500;
  color: #303133;
}
.auth-block .content p {
  height: 20px;
  line-height: 20px;
  margin-top: 9px;
  font-size: 14px;
  color: #909399;
}
.auth-block .content::after {
  content: "";
  background-image: url(../../image/auth/arrow-right.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  margin: auto 0;
}
.auth-block.active .badge {
  border: 1px solid #66bb6a;
  color: #66bb6a;
}
.auth-block.active .content {
  border: 1px solid #66bb6a;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(162, 177, 163, 0.1);
          box-shadow: 0px 4px 6px 0px rgba(162, 177, 163, 0.1);
}
.auth-block.authing .badge {
  background: #66bb6a;
  border: 1px solid #66bb6a;
  color: #fff;
}
.auth-block.authing .content {
  background: rgba(102, 187, 106, 0.1);
  -webkit-box-shadow: 0px 4px 6px 0px rgba(162, 177, 163, 0.1);
          box-shadow: 0px 4px 6px 0px rgba(162, 177, 163, 0.1);
  border: 1px solid #66bb6a;
}
.auth-block.authing .content strong {
  margin-top: 30px;
}
.auth-block.authing .content::after {
  content: "";
  display: none;
}
.auth-block.autherror .badge {
  background: #66bb6a;
  border: 1px solid #66bb6a;
  color: #fff;
}
.auth-block.autherror .content {
  background: rgba(102, 187, 106, 0.1);
  -webkit-box-shadow: 0px 4px 6px 0px rgba(162, 177, 163, 0.1);
          box-shadow: 0px 4px 6px 0px rgba(162, 177, 163, 0.1);
  border: 1px solid #66bb6a;
}
.auth-block.autherror .content::after {
  content: "";
  display: none;
}
.auth-block.authpass .badge {
  background: #66bb6a;
  border: 1px solid #66bb6a;
  color: #fff;
}
.auth-block.authpass .content {
  background: rgba(102, 187, 106, 0.1);
  -webkit-box-shadow: 0px 4px 6px 0px rgba(162, 177, 163, 0.1);
          box-shadow: 0px 4px 6px 0px rgba(162, 177, 163, 0.1);
  border: 1px solid #66bb6a;
}
.auth-block.authpass .content strong {
  margin-top: 30px;
}
.auth-block.authpass .content::after {
  content: "";
  background-image: url(../../image/auth/complete.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  margin: auto 0;
}
.btn-container {
  background-color: #fff;
  position: fixed;
  z-index: 200;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.btn-container .yuguedu-container {
  padding-bottom: 10px;
}
