html, body {
  background-color: #ebebeb;
}
ul {
  padding: 15px;
}
li {
  margin-top: 20px;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
}
.t {
  border-bottom: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  height: 40px;
  & .tit {
    color: #1dc4a2;
    font-weight: bold;
    flex-shrink: 0;
  }
  & .status {
    flex-grow: 1;
  }
  & .status {
    flex-shrink: 0;
    color: #aaa;
    font-size: 15px;
  }
}

.b {
  display: flex;
  align-items: center;
  & .text {
    flex-grow: 1;
    & strong {
      color: #333;
    }
    & p {
      color: #aaa;
    }
  }
  & .icon {
    flex-shrink: 0;
  }
}
