<!-- 好销贷授信申请 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
    />
    <meta
      name="format-detection"
      content="telephone=no,email=no,date=no,address=no"
    />
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../../css/aui.css" /> -->
  </head>
  <body>
    <div id="app">
      <section class="header">
        <div class="logo">{{productInfo.productShort}}</div>
        <div class="name">{{productInfo.producName}}</div>
        <div class="loan">
          <div class="num">
            {{productInfo.creditAmount}}
            <span class="unit">万</span>
          </div>
          <div class="label">最高额度(元)</div>
        </div>
      </section>
      <section class="introduction">
        <div class="intro">
          <h4 class="tit">产品介绍</h4>

          <ul class="list">
            <li class="cell" v-for="(item) in introduction" :key="item.title">
              <div class="icon"></div>
              <div class="desc">
                <p class="c-title">{{item.title}}</p>
                <p class="c-detail">{{item.detail}}</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="intro qa">
          <h4 class="tit">Q&A</h4>
          <ul class="list">
            <li
              class="cell"
              v-for="(item) in (isFolder ? [QA[0]] : QA)"
              :key="item.q"
            >
              <div class="desc">
                <p class="c-title">
                  <span class="label">Q</span>
                  {{item.q}}
                </p>
                <p class="c-detail">
                  <span class="label">A</span>
                  {{item.a}}
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="folder" @click="handleFolder">
          {{isFolder ? '更多问与答' : '收起'}}
        </div>
      </section>

      <div
        v-if="!hasApply"
        class="app_agreement"
      >
        <label>
          <input
            class="app_checkbox"
            type="checkbox"
            id="checkbox"
            name="type"
            :checked="isChecked"
            @change="handleCheckBox"
            v-if="creditStatus === 0"
          />
        </label>
        <div class="agreement_content">
          <span>已阅读并同意</span>
          <span
            class="ac"
            v-for="item in contractList"
            :key="item.contractFileId"
            >《
            <b @click="handleToAgreement(item.contractFileId)"
              >{{item.contractName}}</b
            >
            》</span
          >
        </div>
      </div>
      <div v-if="!hasApply" class="bottom-box">
        <button
          class="btn btn-normal"
          :class="{disabled: creditStatus !== 0 && creditStatus !== 3}"
          :disabled="creditStatus !== 0 && creditStatus !== 3 && isChecked"
          @click="handleSubmit"
        >
          {{btnText}}
        </button>
      </div>
    </div>

    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/vue.js"></script>
  </body>
</html>
