html, body {
  height: 100%;
  font-size: 16px;
  background-color: rgba(255,255,255,1);
}

section {
  background-color: #fff;
  margin-top: 12px;
}

.tit {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  border-bottom: 1px solid #ededed;
  position: relative;
  font-size: 15px;
  &:after {
    content: '';
    display: block;
    width: 5px;
    height: 10px;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #66BB6A;
  }
}

.indent {
  padding-left: 20px;
}
.indent-tit {
  height: 40px;
  padding-top: 15px;
  color: #ccc;
  font-weight: bold;
  font-size: 14px;
}
.ipt-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-bottom: 1px solid #ededed;
  position: relative;
  & .label {
    width: 80px;
    flex-shrink: 0;
    color: #000;
  }
  & .ipt {
    height: 100%;
    /*border: 1px solid red;*/
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ccc;
    margin-right: 80px;
    & input {
      font-size: 16px;
    }
    & input::placeholder {
      color: #aaa;
    }
    & input:disabled {
      color: #000;
      opacity: 1;
    }
    & input[disabled] {
      color: #000;
      opacity: 1;
    }
  }
  & .icon {
    position: absolute;
    /*border: 1px solid red;*/
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & .aui-iconfont {
      color: #666;
      font-weight: bold;
    }
  }
}

.submit {
  padding: 25px 20px 20px;
}
