<!doctype html>
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <link rel="stylesheet" type="text/css" href="../../css/api.css" >
  <link rel="stylesheet" type="text/css" href="../../css/aui.css" >

  <link rel="stylesheet" href="./win.css"></head>
<body>
  <div id="app">
    <div class="box" v-if="dataArr && dataArr.length > 0">
      <ul>
        <li v-for="(item, index) in dataArr" ref="menuItem">
          <a href="#" @click="collapse(index)">
            <i class="icon collapse-down" v-if="item.show"></i>
            <i class="icon collapse-up" v-else></i>
            <span>{{item.year}}年</span>
          </a>
          <div :class="showList(item.show)">
            <ul>
              <li tapmode v-for="list in item.children" @click="changePage(list)">
                <div class="t">
                  <div class="tit">{{packBill(list.billDate)}}</div>
                  <div class="status" v-if="list.status === 1">{{statusObj[list.status]}}</div>
                  <div class="status warning" v-if="list.status === 2">
                    <i></i>{{statusObj[list.status]}}
                  </div>
                  <div class="status normal" v-if="list.status === 3">
                    <i></i>{{statusObj[list.status]}}
                  </div>
                  <div class="product">{{list.productName}}</div>
                </div>
                <div class="b">
                  <div class="text">
                    <strong>应还{{filter.toThousands(list.sumRepayTotalAmount)}}元</strong>
                    <p v-if="list.status === 1">本金{{filter.toThousands(list.sumRepayPrincipalAmount)}} + 利息{{filter.toThousands(list.sumRepayInterestAmount)}}</p>
                    <p v-else>本金{{filter.toThousands(list.sumRepayPrincipalAmount)}} + 利息{{filter.toThousands(list.sumRepayInterestAmount)}} + 逾期罚息{{filter.toThousands(list.sumRepayPenaltyAmount)}}</p>
                  </div>
                  <div class="icon">
                    <i class="aui-iconfont aui-icon-right"></i>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div v-else>
      <p style="text-align: center;margin-top: 20px;">暂无数据</p>
    </div>
  </div>
  

  <script type="text/javascript" src="../../script/api.js"></script>
  <script type="text/javascript" src="../../script/vue.js"></script>

  <script src="./win.js"></script></body>
</html>
