html, body {
  background-color: #f5f5f5;
}

.success {
  height:300px;
  padding-top: 87px;
  box-sizing: border-box;
  background:rgba(255,255,255,1);
  margin-bottom: 20px;
  .success-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-image: url(../../image/success.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .success-desc {
    text-align: center;
    margin-top: 24px;
    height:22px;
    font-size:16px;
    font-weight:500;
    color:rgba(48,49,51,1);
    line-height:22px;
  }
  .success-tips {
    text-align: center;
    margin-top: 16px;
    height:20px;
    font-size:14px;
    color:rgba(144,147,153,1);
    line-height:20px;
  }
}


.failure {
  padding-top: 87px;
  box-sizing: border-box;
  background:rgba(255,255,255,1);
  margin-bottom: 20px;
  padding-bottom: 48px;
  .failure-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-image: url(../../image/error.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .failure-desc {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
    height:22px;
    font-size:16px;
    font-weight:500;
    color:rgba(48,49,51,1);
    line-height:22px;
  }
  .failure-tips {
    text-align: center;
    margin-top: 2px;
    height:20px;
    font-size:14px;
    color:rgba(144,147,153,1);
    line-height:20px;
  }
}

.failure-btn {
  background-color: #f5f5f5;
  padding: 24px 12px;
}