html, body {
  background-color: #efefef;
}

.hxd {
  position: relative;
  padding: 0 12px;
  padding-top: 20px;
  background:rgba(245,245,245,1);
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 70px;
    background-color: #66BB6A;
  }
  .hxdentry {
    position: relative;
    z-index: 100;
    height:130px;
    background:rgba(255,255,255,1);
    box-shadow:0px 4px 6px 0px rgba(162,177,163,0.1);
    border-radius:6px;
    padding: 0 12px;
    .hxdentry-t {
      height:48px;
      font-size:16px;
      font-weight:500;
      color:rgba(48,49,51,1);
      line-height:48px;
      border-bottom: 1px solid rgba(245,245,245,1);
    }
    .hxdentry-b {
      padding: 12px 0;
      display: flex;
      align-items: center;
    }
    .hxdentry-num {
      flex-shrink: 0;
      strong {
        display: block;
        height:30px;
        font-size:22px;
        font-weight:600;
        color:rgba(238,83,84,1);
        line-height:30px;
        i {
          height:22px;
          font-size:16px;
          color:rgba(238,83,84,1);
          line-height:22px;
          font-style: normal;
        }
      }
      span {
        height:20px;
        font-size:14px;
        color:rgba(144,147,153,1);
        line-height:20px;
      }
    }
    .hxdentry-txt {
      flex-grow: 1;
      text-align: center;
      span {
        display: block;
        height:20px;
        font-size:14px;
        color:rgba(144,147,153,1);
        line-height:20px;
      }
    }
    .hxdentry-btn {
      flex-shrink: 0;
      width:80px;
      height:36px;
      background:rgba(102,187,106,1);
      border-radius:6px;
      font-size:14px;
      color:rgba(255,255,255,1);
      line-height:36px;
      text-align: center;
    }
  }
}

.header {
  padding: 0 12px;
  padding-top: 20px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 54px;
    background:rgba(102,187,106,1);
  }
  .header-main {
    height: 108px;
    background:rgba(255,255,255,1);
    box-shadow:0px 4px 6px 0px rgba(162,177,163,0.1);
    border-radius:0px 0px 6px 6px;
    padding-left: 24px;
    padding-top: 24px;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height:12px;
      background:linear-gradient(180deg,rgba(102,187,106,0.4) 0%,rgba(255,255,255,0) 100%);
    }
    span {
      display: block;
      height:22px;
      font-size:16px;
      color:rgba(144,147,153,1);
      line-height:22px;
    }
    strong {
      display: block;
      height:33px;
      font-size:24px;
      font-weight:500;
      font-family:PingFangSC-Medium,PingFang SC;
      color:rgba(48,49,51,1);
      line-height:33px;
      margin-top: 6px;
    }
  }
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 14px 10px;
  margin: 0 !important;
  span {
    height:22px;
    font-size:16px;
    color:rgba(48,49,51,1);
    line-height:22px;
    display: block;
  }
  strong {
    height:25px;
    font-size:18px;
    font-weight:600;
    color:rgba(48,49,51,1);
    line-height:25px;
    display: block;
  }
}


.list {
  padding: 0 12px;
  margin: 0;
}
.item {
  background:rgba(255,255,255,1);
  box-shadow:0px 4px 6px 0px rgba(162,177,163,0.1);
  border-radius:6px;
  margin: 0;
  margin-bottom: 12px;
  padding: 0 12px;
}
.item-row1 {
  height: 44px;
  border-bottom: 1px solid rgba(245,245,245,1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    height:22px;
    font-size:16px;
    color:rgba(144,147,153,1);
    line-height:22px;
    &:last-child {
      height:20px;
      font-size:14px;
      color:rgba(144,147,153,1);
      line-height:20px;
    }
  }

}
.item-row2 {
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .txt {
    flex-grow: 1;
    span {
      display: block;
      height:20px;
      font-size:14px;
      color:rgba(192,196,204,1);
      line-height:20px;
    }
    strong {
      display: block;
      height:28px;
      font-size:20px;
      font-weight:600;
      color:rgba(48,49,51,1);
      line-height:28px;
    }
  }
  .btn {
    flex-shrink: 0;
    width:80px;
    text-align: center;
    height:36px;
    line-height: 36px;
    background:rgba(102,187,106,1);
    border-radius:6px;
    font-size:14px;
    color:rgba(255,255,255,1);
    &.active {
      background:red;
    }
  }
}
.item-row3 {
  margin-top: 10px;
  padding-bottom: 15px;
  strong {
    display: block;
    height:20px;
    font-size:14px;
    color:rgba(96,98,102,1);
    line-height:20px;
    font-weight: normal;
  }
  span {
    display: block;
    height:20px;
    font-size:14px;
    color:rgba(192,196,204,1);
    line-height:20px;
  }
}
.item-row4 {
  border-top: 1px solid rgba(245,245,245,1);
  .btn {
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size:16px;
    color:rgba(102,187,106,1);
    font-weight: 500;
    &.active {
      color: rgba(102,187,106,0.7);
    }
  }
}