<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <link rel="stylesheet" type="text/css" href="../../css/api.css" />
</head>
<body>
  <div id="app" v-cloak>

    <section class="hxd">
      <div class="hxdentry">
        <div class="hxdentry-t">{{hxd.productName || ''}}</div>
        <div class="hxdentry-b">
          <div class="hxdentry-num" v-if="hxd.productTotalLimit">
            <strong>{{hxd.productTotalLimit}}<i>万元</i></strong>
            <span>最高可申请</span>
          </div>
          <div class="hxdentry-txt">
            <span>{{hxd.productTitle}}</span>
            <span>{{hxd.productSlogan}}</span>
          </div>
          <div @click="handleHXDClick()" v-if="hxd.creditStatus === 0" class="hxdentry-btn">立即开通</div>
          <div @click="handleHXDClick()" v-if="hxd.creditStatus === 1" class="hxdentry-btn">继续开通</div>
          <div @click="handleHXDClick()" v-if="hxd.creditStatus === 2" class="hxdentry-btn">我要用款</div>
        </div>
      </div>
    </section>
  
    <section v-if="list.length > 0" class="total">
      <span>待申请(共{{total}}笔)</span>
      <strong>{{ totalSum ? ('¥ ' + numeral(totalSum).format('¥ 0,0.00')) : ''}}</strong>
    </section>
    <!-- 
      orderType 
      业务单类型：业务单类型:1-入库单（好销贷）、2-发票单、3-饲料订单、4-代养合同（押金贷） 
    -->
    <ul class="list" id="list">
      <li v-for="(item, index) in list" :key="index" class="item">
        <div class="item-row1">
          <span>{{item.orderTime || ''}}</span>
          <!-- <span v-if="item.orderType === 4">已审批通过</span> -->
          <span>{{statusMap[item.status]}}</span>
        </div>
        <div class="item-row2">
          <div class="txt">
            <span>待申请金额(元)</span>
            <strong>{{numeral(item.payAmount || '').format('0,0.00')}}</strong>
          </div>
          <div v-if="item.status === 1 || item.status === 2" @click="handleBtnClick(item)" class="btn">继续申请</div>
          <div v-else @click="handleBtnClick(item)" class="btn">立即申请</div>
        </div>
        <div class="item-row3">
          <strong>收款方：{{item.saleCustName || ''}}</strong>
          <span>业务单号：{{item.orderNo || ''}}</span>
        </div>
        <div v-if="(item.status === 1 || item.status === 2) && item.orderType === 1" class="item-row4">
          <div class="btn cancel" @click="handleCancel(item)">取消</div>
        </div>
      </li>
    </ul>
    
    <section v-if="!noData && loading" class="app_list_loading">加载中...</section>
    <section v-if="!noData && !loading && noMore" class="app_list_nomore">无更多数据</section>
    <section v-if="!noData && !loading && !noMore" class="app_list_loadmore">加载更多</section>
    <section v-if="list.length===0 && noData && !loading" class="app_list_nodata">
      <div class="app_list_nodata_pic"></div>
      <p class="app_list_nodata_desc">暂时没有数据哦</p>
    </section>
  </div>

  <script type="text/javascript" src="../../script/api.js"></script>
  <script type="text/javascript" src="../../script/vue.js"></script>
</body>
</html>
