html, body {
  background-color: #ebebeb;
}
.nav {
  color: #aaa;
  height: 50px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.nav .item span {
  padding: 10px 0;
  border-bottom: 2px solid #fff;
}
.nav .item.active span {
  color: #1dc4a2;
  border-bottom: 2px solid #1dc4a2;
}
