/* aui reset */
.aui-radio:checked,
.aui-radio.aui-checked,
.aui-checkbox:checked,
.aui-checkbox.aui-checked {
  background-color: #1dc4a2 !important;
  border: solid 1px #1dc4a2 !important;
}

.aui-switch:checked {
  border-color: #1dc4a2 !important;
  background-color: #1dc4a2 !important;
}

/*1cb594 88dbcb 1aa689 5aae9c*/

/*页面头部*/
.app_header {
  background-color: #1dc4a2;
  position: relative
}
.app_header div {
    width: 55px;
    height: 44px;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
  }
.app_header div .aui-iconfont {
      color: #fff;
      font-weight: bold;
      font-size: 20px;
    }
.app_header div.active {
      background-color: #88dbcb;
    }
.app_header div:first-child {
    left: 0;
  }
.app_header div:last-child {
    right: 0;
  }
.app_header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 44px;
    padding: 0 44px;
  }

/*块状按钮*/
.app_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #1dc4a2;
  font-weight: bold;
  height: 50px;
  border-radius: 50px;
  overflow: hidden
}
.app_btn.sm {
    height: 44px;
    width: 100%;
    border-radius: 44px;
  }
.app_btn.active {
    background-color: #88dbcb;
  }
.app_btn.loading {
    background-color: #88dbcb;
  }

/*输入框组*/
.app_ipt_group {
  padding-top: 20px
}
.app_ipt_group .item {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #ededed
  }
.app_ipt_group .item .icon {
      width: 50px;
      height: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center
    }
.app_ipt_group .item .icon .aui-iconfont {
        font-size: 22px;
        color: #666;
      }
.app_ipt_group .item .icon .aui-icon-unlock:before {
        position: relative;
        left: 4px;
      }
.app_ipt_group .item .ipt {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 100%;
      position: relative;
      top: 2px;
      margin-right: 80px;
      /*color: #aaa;
      background-color: #eee;*/
    }
.app_ipt_group .item .btn {
      margin-left: 10px;
      padding-right: 4px;
      color: #333
    }
.app_ipt_group .item .btn.active {
        color: #666;
        padding-right: 3px;
      }
.app_ipt_group .item .btn.loading {
        color: #666;
      }

/*连接按钮*/
.app_link_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #333
}
.app_link_btn.active {
    color: #666;
    padding-left: 1px;
    padding-right: 0px;
  }
/*文字按钮*/
.app_text_btn {
  padding-left: 0;
  padding-right: 1px;
  color: #1dc4a2
}
.app_text_btn.active {
    color: #88dbcb;
    padding-left: 1px;
    padding-right: 0px;
  }

.app_agreement {
  text-align: center;
  color: #aaa;
  font-size: 15px
}

.app_agreement input {
    top: -2px;
  }

.app_agreement strong {
    color: #1dc4a2;
    font-weight: normal;
    padding-left: 0;
    padding-right: 1px
  }

.app_agreement strong.active {
      padding-left: 1px;
      padding-right: 0;
    }

html, body {
  height: 100%;
  background-color: #fff;
  font-size: 16px;
}
.container {
  padding: 80px 20px 0;
}

.tips {
  font-size: 17px;
  color: #333
}

.tips strong {
    color: #1dc4a2;
  }
.link-btns {
  height: 50px;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.code-ipt {
  margin-top: 50px;
  padding-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  position: relative;
  border: 1px solid #ededed;
  border-radius: 3px
}
.code-ipt .label {
    padding: 5px 0 5px 15px;
    width: 80px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 17px;
    color: #333;
    border-right: 1px solid #dfdfdf;
  }
.code-ipt .ipt {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 100%;
    margin-left: 10px;
    margin-right: 4px;
    color: #aaa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
.code-ipt .btn {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 120px;
    height: 100%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    background-color: #1dc4a2;
    border: 1px solid #1dc4a2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    border-radius:0 3px 3px 0
  }
.code-ipt .btn span {
      padding-left: 0;
      padding-right: 1px;
    }
.code-ipt .btn.active span {
      padding-left: 1px;
      padding-right: 0;
    }
.code-ipt .btn.loading {
      background-color: #88dbcb;
    }

.btn-box {
  margin-top: 100px;
}
